<article class="work-entry" role="article">

  <app-work-header>
    <p>
      As we grew the Crowdskout app to support more complex time-series graphs and other date & time dependent inputs, we encountered a need to overhaul our date & time UI and data treatment. I researched the ISO spec and developed a new interface to handle these selections.
    </p>
  </app-work-header>

  <section class="work-section">
    <h2 class="work-body-h2">
      ISO8601 and Moment.js
    </h2>
    <p>
      Using the <a class="basic-link" target="_blank" href="https://momentjs.com/">Moment.js</a> library as a backbone for transforming and handling our date & datetime data, I built a custom component for accepting input data, transforming, and saving data in ISO8601 format. The component was built to be a flexible AngularJS directive that could easily shift implementations between date alone, or datetime, depending on varying needs.
    </p>

    <div class="gallery-subsection">
      <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide" class="lg-wrapper-2-small">
        <a *ngFor="let gallery of galleryContents; index as i" [href]="gallery.url" class="gallery-link" [attr.data-gallery]="'gallery' + (i + 1)">
          <div class="gallery-image-container">
            <img [alt]="gallery.description" [src]="gallery.url" class="gallery-image" />
          </div>
          <div class="gallery-description">{{gallery.description}}</div>
        </a>
      </lightgallery> 
    </div>

    <p>
      Crowdskout's date & time component is a complex, interactive module within the application. If you have any questions, I'm happy to walk through the design and code involved. Thanks for reading.
    </p>
  </section>

</article>
