<article class="work-entry">

  <app-work-header>
    <p>
      As we grew the Crowdskout app to support more complex time-series graphs and other date & time dependent inputs, we encountered a need to overhaul our date & time UI and data treatment. I researched the ISO spec and developed a new interface to handle these selections.
    </p>
  </app-work-header>

  <section class="work-section">
    <h2 class="work-body-h2">
      ISO8601 and Moment.js
    </h2>
    <p>
      Using the <a class="work-body-link" target="_blank" href="https://momentjs.com/">Moment.js</a> library as a backbone for transforming and handling our date & datetime data, I built a custom component for accepting input data, transforming, and saving data in ISO8601 format. The component was built to be a flexible AngularJS directive that could easily shift implementations between date alone, or datetime, depending on varying needs.
    </p>
    <div class="work-body-image-grid">
      <app-image-viewer
        path="../assets/images/work/crowdskout-datetime/datetime-1a.png"
        description="The implementation for date alone"
        borderOn="true">
      </app-image-viewer>
      <app-image-viewer
        path="../assets/images/work/crowdskout-datetime/datetime-2a.png"
        description="The implementation for datetime inputs"
        borderOn="true">
      </app-image-viewer>
    </div>
    <p>
      Crowdskout's date & time component is a complex, interactive module within the application. If you have any questions, I'm happy to walk through the design and code involved. Thanks for reading.
    </p>
  </section>

</article>
