<article class="cv-content">

  <header class="subject-header">
    <div class="heading">
      CV
    </div>
    <div class="subheading">
      Professional positions, schools, skills, etc.
    </div>
  </header>

  <div class="cv-main">
    <a
      class="button-bright"
      target="_blank"
      href="https://linkedin.com/in/petergcutler/">LinkedIn Resume</a>
  </div>

  <footer class="main-footer">
    <div class="copyright-text">
      &copy; Copyright 2018, Peter Cutler
    </div>
  </footer>
</article>
