<!-- [@revealWorkItems]="revealWork" -->

<article class="work-content">
  <!-- <app-article-header
    class="desktop-only work-list-item"
    header="Work"
    subheader="Projects with clients, companies, and schools">
  </app-article-header> -->

  <div
    class="work-main" [@revealListItems]="revealList">
    <div
      class="work-item"
      [ngClass]="work.url"
      *ngFor="let work of works; index as i;"
      routerLink="/work/details/{{work.url}}">
      <span class="work-item-title">{{work.display}}</span>
      <img
        class="work-item-image"
        src="../assets/images/work/thumbnails/{{work.url}}.png"
        alt="{{work.display}}">
    </div>
  </div>

  <app-article-footer class="work-list-item"></app-article-footer>
</article>
