<article class="era-content">
  <div class="era-main" [@revealListItems]="revealList">
    <div class="era-item"
         *ngFor="let era of eras; index as i;"
         routerLink="/work/{{era.url}}">
      <div class="era-item-image-wrapper">
        <img class="era-item-image"
           src="../assets/images/work/thumbnails/{{era.url}}.png"
           alt="{{era.display}}">
      </div>
      <div class="era-item-title">{{era.display}}</div>
      <div class="era-item-subtitle">{{era.description}}</div>
    </div>
  </div>
</article>