<article class="era-detail-content">
  <div class="era-detail-main" [@revealListItems]="revealList">

    <div class="grid-header">
      <div class="era-detail-item header">
        From 2015-2017, I worked for Crowdskout as a founding software engineer. I focused on JavaScript engineering, creating a range of components for state management, user segmenting, data analytics, and business insights. Crowdskout was acquired by <a class="basic-link" target="_blank" href="https://murmuration.org">Murmuration</a> in 2018.</div>
    </div>

    <div class="grid-main">
      <div class="era-detail-item"
         *ngFor="let work of filteredWorks; index as i;"
         routerLink="/work/{{work.url}}">
        <div class="era-detail-item-image-wrapper">
          <img class="era-detail-item-image"
             src="../assets/images/work/thumbnails/{{work.url}}.png"
             alt="{{work.display}}">
        </div>
        <div class="era-detail-item-title">{{work.display}}</div>
        <div class="era-detail-item-subtitle">{{work.description}}</div>
      </div>
    </div>

  </div>
</article>