<article class="era-detail-content">
  <div class="era-detail-main" [@revealListItems]="revealList">

    <div class="grid-header" id="scrollTop">
      <div class="era-detail-item header">
        From 2015-2017, I worked for Crowdskout as a founding software engineer, where we made CRM tools for political and advocacy campaigns. I specialized in developing its systems for audience segmenting, analytics, and data visualization. Crowdskout was acquired by <a class="basic-link" target="_blank" href="https://murmuration.org">Murmuration</a> in 2018.</div>
    </div>

    <div class="grid-main">
      <div class="era-detail-item"
         *ngFor="let work of filteredWorks; index as i;"
         routerLink="/work/{{work.url}}">
        <div class="era-detail-item-image-wrapper">
          <img class="era-detail-item-image"
             src="../assets/images/work/thumbnails/{{work.url}}.png"
             alt="{{work.display}}">
        </div>
        <div class="era-detail-item-title">{{work.display}}</div>
        <div class="era-detail-item-subtitle">{{work.subtitle}}</div>
      </div>
    </div>

  </div>
</article>