<article class="digital-fabrication-content" [@revealAboutItems]="revealAbout">

  <section class="about-main">
    <div class="secondary-content about-item">
      <img class="self-image" src="../assets/images/about/self-image.jpg" alt="peter-cutler">
    </div>

    <div class="primary-content about-item">
      <div class="bio">
        <p>
          Hey, I'm Peter Cutler, and I'm a UX designer and developer living in Seattle. I'm taking Digital Fabrication to learn some cool design methods. I'll probably use what we learn to make things for my home, but maybe for work too.
        </p>
        <p>
          Right now I'm looking forward to learning Grasshopper. Some of my friends have been using it on interesting projects. I'm happy to teach my peers about design, coding, or whatever else! Ask me anything in the Mill. Once we have to use our website for something, I'll probably update this page.
        </p>
      </div>
    </div>
  </section>

  <section class="assignments">

    <div class="assignments-header">
      Assignments
    </div>

    <ul class="assignments-list">
      <li *ngFor="let assignment of assignments"
        [class.selected]="assignment === selectedAssignment"
        (click)="onSelect(assignment)">
        {{assignment.name}}
      </li>
    </ul>

    <div *ngIf="selectedAssignment">
      <div class="assignment">{{selectedAssignment.name | uppercase}}</div>

      <!-- Assignment 1 -->
      <div class="assignment-body" *ngIf="selectedAssignment.id === 1">
        <p>Over the last six days, I was out of town for a family vacation in Los Angeles. This prevented me from getting a lot of this assignment done (for now), but I was able to gather inspiration and do some sketching! We took trips to The Getty, LACMA, and The Broad museums, where I got to check out a lot of Bauhaus works from the early 20th century.</p>

        <div class="assignment-h2">Kandinsky</div>

        <p>I focused on some of Kandinsky's paintings, which are exploring the repetition of grids and lines. I wanted these to inform my repeating item, so that my 3d structure would look like a Kandinsky work in sculpture form.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a1/kandinsky-circles-in-a-circle.jpg"
          description="Kandinsky - Circles in a Circle"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a1/kandinsky-wave.jpg"
          description="Kandinsky - Wave"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a1/kandinsky-yellow-border.png"
          description="Kandinsky - Yellow Border"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Sketching and Vector</div>

        <p>I explored some of the different shapes from Kandinsky's paintings within Illustrator. I didn't have time to get too far into this phase, but I was able to play with some interlocking circles, based on "Circles within Circles". Ideally I'd also include a series of lines/poles to flesh this out even further.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a1/three-slot-circle.png"
          description="Multiple small slots - probably a bad idea"
          class="assignment-image">
        </app-image-viewer>

        <p>I predicted I wouldn't maintain stability in my model while including multiple slots along the X/Y axis of the circle, so shifted to a model with two, longer slots in a cross shape. This might let the circles interlock more effectively.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a1/cross-circle.png"
          description="Longer slots across the diameter - probably better"
          class="assignment-image">
        </app-image-viewer>

        <p>You can download an illustrator file here: <a href="../assets/images/digital-fabrication/a1/circles-in-circles.ai">AI File</a></p>
      </div>

      <!-- Assignment 2 -->
      <div class="assignment-body" *ngIf="selectedAssignment.id === 2">
        <p>I continued where I left off with assignment 1, taking Kandinsky's "Circles in a Circle" as a model, and using it as a basis for a 3d/sculptural version.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a1/kandinsky-circles-in-a-circle.jpg"
          description="Kandinsky - Circles in a Circle"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Sketching in Figma</div>

        <p>I first explored what it would mean to make this in 3d in Figma. Through the embedded link, you can see what I found and look at my process.</p>

        <iframe
          style="border: none;"
          width="800"
          height="450"
          src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FFWmoCwhZusDS1e49EWUC2KpS%2Fcircles-in-a-circle%3Fnode-id%3D0%253A1"
          allowfullscreen>
        </iframe>

        <p>It's pretty cool to conceptualize what this painting could be in 3d. You could end up with different results if you approach it from different perspectives.</p>

        <p>It's also interesting to recognize that the entire sculpture can be parametrically controlled, relative to the size of the base. Through Grasshopper, you could create a file that could produce a sculpture of this of any size, and with materials of any thickness.</p>

        <div class="assignment-h2">Building the Grasshopper File</div>

        <p>I began by wiring up the base circle and a creating a single slot for the one of vertical circles that would be placed within.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/1-grasshopper.png"
          description="The main, base circle"
          class="assignment-image">
        </app-image-viewer>

        <p>I wanted the "circles within the circles" to controlled by the size of the base circle (and the customizable material width). So I turned this into a little hub.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/7-grasshopper-controls.png"
          description="Control hub"
          class="assignment-image">
        </app-image-viewer>

        <p>Next, I added a single region difference to create a unified circle-with-slot shape.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/2-grasshopper-region-difference.png"
          description="The circle with region difference"
          class="assignment-image">
        </app-image-viewer>

        <p>
          Next, I added an additional two slots to represent more of the vertical circles. I decided to skip adding every single slot, because I was beginning to recognize the messiness of this level of nesting. I'd do the remaining ones programatically via a script if I had more time.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/3-grasshopper-slots.png"
          description="The circle with THREE region differences"
          class="assignment-image">
        </app-image-viewer>

        <p>
          Finally, I added the inner circles that would go within the slots -- these were computed from the original diameter, adding yet another layer of recursive messiness to my Rhino file.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/4-grasshopper-inner-circles.png"
          description="...with inner circles alongside"
          class="assignment-image">
        </app-image-viewer>

        <p>
          Here's a zoomed out link at the whole file. You can download it via the link here: <a href="../assets/images/digital-fabrication/a2/Kandinsky.3dm">rhino file</a> ... <a href="../assets/images/digital-fabrication/a2/Kandinsky.gh">grasshopper file</a>
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/5-grasshopper-final-file.png"
          description="The whole file"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Lasercutting</div>

        <p>
          With the Rhino file in hand, I converted to AI and laser cut the selection from two cardboard box types.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/6-printed-circles.jpg"
          description="The printed Kandinsky sculptures"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Peer Attribution</div>

        <p>
          Thanks to Nadya for the great, quick video!
        </p>


      </div>

      <!-- Assignment 3 -->
      <div class="assignment-body" *ngIf="selectedAssignment.id === 3">

        <div class="assignment-h2">Conceptualizing</div>

        <p>
          I had a busy schedule this week and wanted to conceptualize the deliverable in a way that I could get it done in fewer than 8 hours. This required me to first think about what a simple form would be that could work with the CADE lamps that I picked up from the course materials.
        </p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/ideation-1.png"
            description="CADE Lamps"
            borderOn="true">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/ideation-2.png"
            description="Cylindrical, paper lamps"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>
          Extending the cylindrical design of the lamp itself, I began imagining concepts like these cylindrical table lamps. Since I knew that 3d-printing for the first time would provide challenges, I accepted that the laser cutting might be a stretch goal - where I could laser cut a pattern into some paper, or into a cap that could go on top of the cylindrical lamp.
        </p>

        <div class="assignment-h2">Designing on paper</div>

        <p>First, I wanted to measure the lamp and assure the sizings provided enough tolerance to fit around the lamp, and that none of the walls were too thin for the printer.</p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/caliper-1.jpg"
            description="Simple measurement"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/caliper-2.jpg"
            description="Wiggle testing the measurement"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>Here are some of the measurements.</p>

        <ul>
          <li>69.96mm: diameter of CADE Lamp</li>
          <li>72mm: Inner circumference of cylinder</li>
          <li>2.4mm: Thickness for the interior walls creating the groove</li>
          <li>2.4mm: Groove width</li>
          <li>7.2mm: total thickness of tube between internal / external diameter</li>
          <li>79.2mm: External circumference</li>
          <li>16mm: insertable portion of paper</li>
          <li>6mm: Supporting base height</li>
          <li>22mm: total height of cylinder enclosure</li>
        </ul>

        <div class="assignment-h2">Designing in Rhino</div>

        <p>I determined that I could design the cylindrical lamp enclosure using strictly cylinder shapes and boolean difference operations.</p>

        <p>You can see the cylinder extrusion/difference process below.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/cylinder-1.png"
          description="Start with one cylinder"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/cylinder-2.png"
          description="Subtract from cylinder to make a tube"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/cylinder-3.png"
          description="Use another cylinder to create a groove"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/cylinder-4.png"
          description="Final, grooved tube enclosure"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Configuring Dremel DigiLab</div>

        <p>Once I had the shape created to my specifications, I brought it into Dremel DigiLab. I only made a few modifications from the defaults, which you can see below.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/digilab-1.png"
          description="The shape imported"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/digilab-2.png"
          description="The shape, and a look at the critical raft settings"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/digilab-3.png"
          description="The settings panel, also configured at high quality"
          class="assignment-image">
        </app-image-viewer>


        <div class="assignment-h2">Printing - Failure</div>

        <p>As expected, printing was a real process... My first prints failed, seemingly due to adhesive issues. Even though I asked staff about using raft printing twice, both times they told me to use a skirt method instead. The first time I caught the failure immediately. But the second time, it failed after I left it running and went to class. This cost me a lot of time to then re-run.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/failure-1.jpg"
          description="A failed print due to adhesive and the skirt"
          class="assignment-image">
        </app-image-viewer>

        <p>I think the print failed due to the hollow circular base. This shape doesn't anchor well to the glue placed on the printing bed, and it looks like there's a fair bit of tension between the PLA from the nozzle and that's being dragged by the printer head. This is why I think the raft solved the problem.</p>

        <div class="assignment-h2">Printing - Success</div>

        <p>Finally, with a raft, the print succeeded.</p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/print-1.jpg"
            description="Removing the grooved ring from the raft"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/print-2.jpg"
            description="Testing the fit of the ring around the lamp"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>It fits pretty snugly around the lamp, so it will have to be turned on/off with the ring removed.</p>

        <div class="assignment-h2">Laser Cutting</div>

        <p>Next, I wanted to laser cut a "lamp shade" using printer paper or card stock, which would fit into the groove and circle around the lamp.</p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/lasercut-1.jpg"
            description="Removing the grooved ring from the raft"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/lasercut-2.jpg"
            description="Testing the fit of the ring around the lamp"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>Ultimately, I removed a little too much from the middle of the paper. The extra long rectangular slits ended up costing the structure of the cylindrical lamp shade, so it's a little lopsided -- definitely something I'll look out for next time.</p>

        <div class="assignment-h2">Peer Attribution</div>

        <p>
          Thanks to Lukas for sharing laser cutting time. Thanks to Nitya for tips about Raft printing.
        </p>

        <div class="assignment-h2">Files</div>

        <p> <a href="../assets/images/digital-fabrication/a3/cylinder-lamp-holder.3dm">Rhino</a>
        </p>

        <p> <a href="../assets/images/digital-fabrication/a3/cylinder-lamp-holder.stl">STL</a>
        </p>

        <p><a href="../assets/images/digital-fabrication/a3/cylinder-lamp-holder.gcode">gcode</a>
        </p>

        <p><a href="../assets/images/digital-fabrication/a3/cylinder-lamp-lines.ai">ai</a>
        </p>

      </div>



    </div>
  </section>
</article>
