<article class="digital-fabrication-content" [@revealAboutItems]="revealAbout">

  <section class="about-main">
    <div class="secondary-content about-item">
      <img class="self-image" src="../assets/images/about/self-image.jpg" alt="peter-cutler">
    </div>

    <div class="primary-content about-item">
      <div class="bio">
        <p>
          Hey, I'm Peter Cutler, and I'm a UX designer and developer living in Seattle. I'm taking Digital Fabrication to learn some cool design methods. I'll probably use what we learn to make things for my home, but maybe for work too.
        </p>
        <p>
          Right now I'm looking forward to learning Grasshopper. Some of my friends have been using it on interesting projects. I'm happy to teach my peers about design, coding, or whatever else! Ask me anything in the Mill. Once we have to use our website for something, I'll probably update this page.
        </p>
      </div>
    </div>
  </section>

  <section class="assignments">

    <div class="assignments-header">
      Assignments
    </div>

    <ul class="assignments-list">
      <li *ngFor="let assignment of assignments"
        [class.selected]="assignment === selectedAssignment"
        (click)="onSelect(assignment)">
        {{assignment.name}}
      </li>
    </ul>

    <div *ngIf="selectedAssignment">
      <div class="assignment">{{selectedAssignment.name | uppercase}}</div>

      <!-- Assignment 1 -->
      <div class="assignment-body" *ngIf="selectedAssignment.id === 1">
        <p>Over the last six days, I was out of town for a family vacation in Los Angeles. This prevented me from getting a lot of this assignment done (for now), but I was able to gather inspiration and do some sketching! We took trips to The Getty, LACMA, and The Broad museums, where I got to check out a lot of Bauhaus works from the early 20th century.</p>

        <div class="assignment-h2">Kandinsky</div>

        <p>I focused on some of Kandinsky's paintings, which are exploring the repetition of grids and lines. I wanted these to inform my repeating item, so that my 3d structure would look like a Kandinsky work in sculpture form.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a1/kandinsky-circles-in-a-circle.jpg"
          description="Kandinsky - Circles in a Circle"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a1/kandinsky-wave.jpg"
          description="Kandinsky - Wave"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a1/kandinsky-yellow-border.png"
          description="Kandinsky - Yellow Border"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Sketching and Vector</div>

        <p>I explored some of the different shapes from Kandinsky's paintings within Illustrator. I didn't have time to get too far into this phase, but I was able to play with some interlocking circles, based on "Circles within Circles". Ideally I'd also include a series of lines/poles to flesh this out even further.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a1/three-slot-circle.png"
          description="Multiple small slots - probably a bad idea"
          class="assignment-image">
        </app-image-viewer>

        <p>I predicted I wouldn't maintain stability in my model while including multiple slots along the X/Y axis of the circle, so shifted to a model with two, longer slots in a cross shape. This might let the circles interlock more effectively.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a1/cross-circle.png"
          description="Longer slots across the diameter - probably better"
          class="assignment-image">
        </app-image-viewer>

        <p>You can download an illustrator file here: <a href="../assets/images/digital-fabrication/a1/circles-in-circles.ai">AI File</a></p>
      </div>

      <!-- Assignment 2 -->
      <div class="assignment-body" *ngIf="selectedAssignment.id === 2">
        <p>I continued where I left off with assignment 1, taking Kandinsky's "Circles in a Circle" as a model, and using it as a basis for a 3d/sculptural version.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a1/kandinsky-circles-in-a-circle.jpg"
          description="Kandinsky - Circles in a Circle"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Sketching in Figma</div>

        <p>I first explored what it would mean to make this in 3d in Figma. Through the embedded link, you can see what I found and look at my process.</p>

        <iframe
          style="border: none;"
          width="800"
          height="450"
          src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FFWmoCwhZusDS1e49EWUC2KpS%2Fcircles-in-a-circle%3Fnode-id%3D0%253A1"
          allowfullscreen>
        </iframe>

        <p>It's pretty cool to conceptualize what this painting could be in 3d. You could end up with different results if you approach it from different perspectives.</p>

        <p>It's also interesting to recognize that the entire sculpture can be parametrically controlled, relative to the size of the base. Through Grasshopper, you could create a file that could produce a sculpture of this of any size, and with materials of any thickness.</p>

        <div class="assignment-h2">Building the Grasshopper File</div>

        <p>I began by wiring up the base circle and a creating a single slot for the one of vertical circles that would be placed within.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/1-grasshopper.png"
          description="The main, base circle"
          class="assignment-image">
        </app-image-viewer>

        <p>I wanted the "circles within the circles" to controlled by the size of the base circle (and the customizable material width). So I turned this into a little hub.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/7-grasshopper-controls.png"
          description="Control hub"
          class="assignment-image">
        </app-image-viewer>

        <p>Next, I added a single region difference to create a unified circle-with-slot shape.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/2-grasshopper-region-difference.png"
          description="The circle with region difference"
          class="assignment-image">
        </app-image-viewer>

        <p>
          Next, I added an additional two slots to represent more of the vertical circles. I decided to skip adding every single slot, because I was beginning to recognize the messiness of this level of nesting. I'd do the remaining ones programatically via a script if I had more time.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/3-grasshopper-slots.png"
          description="The circle with THREE region differences"
          class="assignment-image">
        </app-image-viewer>

        <p>
          Finally, I added the inner circles that would go within the slots -- these were computed from the original diameter, adding yet another layer of recursive messiness to my Rhino file.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/4-grasshopper-inner-circles.png"
          description="...with inner circles alongside"
          class="assignment-image">
        </app-image-viewer>

        <p>
          Here's a zoomed out link at the whole file. You can download it via the link here: <a href="../assets/images/digital-fabrication/a2/Kandinsky.3dm">rhino file</a> ... <a href="../assets/images/digital-fabrication/a2/Kandinsky.gh">grasshopper file</a>
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/5-grasshopper-final-file.png"
          description="The whole file"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Lasercutting</div>

        <p>
          With the Rhino file in hand, I converted to AI and laser cut the selection from two cardboard box types.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a2/6-printed-circles.jpg"
          description="The printed Kandinsky sculptures"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Peer Attribution</div>

        <p>
          Thanks to Nadya for the great, quick video!
        </p>


      </div>

      <!-- Assignment 3 -->
      <div class="assignment-body" *ngIf="selectedAssignment.id === 3">

        <div class="assignment-h2">Conceptualizing</div>

        <p>
          I had a busy schedule this week and wanted to conceptualize the deliverable in a way that I could get it done in fewer than 8 hours. This required me to first think about what a simple form would be that could work with the CADE lamps that I picked up from the course materials.
        </p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/ideation-1.png"
            description="CADE Lamps"
            borderOn="true">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/ideation-2.png"
            description="Cylindrical, paper lamps"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>
          Extending the cylindrical design of the lamp itself, I began imagining concepts like these cylindrical table lamps. Since I knew that 3d-printing for the first time would provide challenges, I accepted that the laser cutting might be a stretch goal - where I could laser cut a pattern into some paper, or into a cap that could go on top of the cylindrical lamp.
        </p>

        <div class="assignment-h2">Designing on paper</div>

        <p>First, I wanted to measure the lamp and assure the sizings provided enough tolerance to fit around the lamp, and that none of the walls were too thin for the printer.</p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/caliper-1.jpg"
            description="Simple measurement"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/caliper-2.jpg"
            description="Wiggle testing the measurement"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>Here are some of the measurements.</p>

        <ul>
          <li>69.96mm: diameter of CADE Lamp</li>
          <li>72mm: Inner circumference of cylinder</li>
          <li>2.4mm: Thickness for the interior walls creating the groove</li>
          <li>2.4mm: Groove width</li>
          <li>7.2mm: total thickness of tube between internal / external diameter</li>
          <li>79.2mm: External circumference</li>
          <li>16mm: insertable portion of paper</li>
          <li>6mm: Supporting base height</li>
          <li>22mm: total height of cylinder enclosure</li>
        </ul>

        <div class="assignment-h2">Designing in Rhino</div>

        <p>I determined that I could design the cylindrical lamp enclosure using strictly cylinder shapes and boolean difference operations.</p>

        <p>You can see the cylinder extrusion/difference process below.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/cylinder-1.png"
          description="Start with one cylinder"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/cylinder-2.png"
          description="Subtract from cylinder to make a tube"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/cylinder-3.png"
          description="Use another cylinder to create a groove"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/cylinder-4.png"
          description="Final, grooved tube enclosure"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Configuring Dremel DigiLab</div>

        <p>Once I had the shape created to my specifications, I brought it into Dremel DigiLab. I only made a few modifications from the defaults, which you can see below.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/digilab-1.png"
          description="The shape imported"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/digilab-2.png"
          description="The shape, and a look at the critical raft settings"
          class="assignment-image">
        </app-image-viewer>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/digilab-3.png"
          description="The settings panel, also configured at high quality"
          class="assignment-image">
        </app-image-viewer>


        <div class="assignment-h2">Printing - Failure</div>

        <p>As expected, printing was a real process... My first prints failed, seemingly due to adhesive issues. Even though I asked staff about using raft printing twice, both times they told me to use a skirt method instead. The first time I caught the failure immediately. But the second time, it failed after I left it running and went to class. This cost me a lot of time to then re-run.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a3/failure-1.jpg"
          description="A failed print due to adhesive and the skirt"
          class="assignment-image">
        </app-image-viewer>

        <p>I think the print failed due to the hollow circular base. This shape doesn't anchor well to the glue placed on the printing bed, and it looks like there's a fair bit of tension between the PLA from the nozzle and that's being dragged by the printer head. This is why I think the raft solved the problem.</p>

        <div class="assignment-h2">Printing - Success</div>

        <p>Finally, with a raft, the print succeeded.</p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/print-1.jpg"
            description="Removing the grooved ring from the raft"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/print-2.jpg"
            description="Testing the fit of the ring around the lamp"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>It fits pretty snugly around the lamp, so it will have to be turned on/off with the ring removed.</p>

        <div class="assignment-h2">Laser Cutting</div>

        <p>Next, I wanted to laser cut a "lamp shade" using printer paper or card stock, which would fit into the groove and circle around the lamp.</p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/lasercut-1.jpg"
            description="Removing the grooved ring from the raft"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a3/lasercut-2.jpg"
            description="Testing the fit of the ring around the lamp"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>Ultimately, I removed a little too much from the middle of the paper. The extra long rectangular slits ended up costing the structure of the cylindrical lamp shade, so it's a little lopsided -- definitely something I'll look out for next time.</p>

        <div class="assignment-h2">Peer Attribution</div>

        <p>
          Thanks to Lukas for sharing laser cutting time. Thanks to Nitya for tips about Raft printing.
        </p>

        <div class="assignment-h2">Files</div>

        <p> <a href="../assets/images/digital-fabrication/a3/cylinder-lamp-holder.3dm">Rhino</a>
        </p>

        <p> <a href="../assets/images/digital-fabrication/a3/cylinder-lamp-holder.stl">STL</a>
        </p>

        <p><a href="../assets/images/digital-fabrication/a3/cylinder-lamp-holder.gcode">gcode</a>
        </p>

        <p><a href="../assets/images/digital-fabrication/a3/cylinder-lamp-lines.ai">ai</a>
        </p>

      </div>


      <!-- Assignment 4 -->
      <div class="assignment-body" *ngIf="selectedAssignment.id === 4">

        <div class="assignment-h2">Conceptualizing Movement</div>

        <p>
          At the outset of the project, I had no idea what kind of movement to design. With very little experience with Onshape, I wanted to do a simple project to learn the software. That said, I loved the concept of the website <a target="_blank" href="http://507movements.com">507 Movements</a>, so I decided to start looking for inspiration there.
        </p>

        <p>
          Deep within 507 Movements, I found the project I was looking for:
          <a target="_blank" href="http://507movements.com/mm_325.html">movement #325</a>. So simple, and yet so elegant... But mostly so simple.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a4/mm325.gif"
          description="Simple and clear"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Preparing Pre-Fab Assets</div>

        <p>
          Next, I knew I would want to use Josh's rivets and the pre-fabricated Onshape file he made of them. Reviewing that file would help me a) learn the software better, and b) find the dimensions I'd need for the holes in my design. I booted up the file he shared on Slack, and made a copy in my account.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a4/onshape-rivet-1.png"
          description="Finding Dimensions within the Sketch object"
          class="assignment-image">
        </app-image-viewer>

        <p>
          Rewatching the class recording, and re-learning about Suppress, I moved through the Feature List to review the dimensions of the rivet. I found that the hole I would need in my own design would have to be 6.35mm to match the rivet. Now that I had the rivet in my account, I'd be ready to use it in the assembly once I got to that stage. But first, I'd have to create my articulating rectangles
        </p>

        <div class="assignment-h2">Designing in Onshape</div>

        <p>Over at the Mill, I began designing the rectangles I'd use in Onshape. Knowing the rough relationships from Movement #325, and the hole diamater of 6.35mm, I chose appropriate rectangle sizes that wouldn't make me waste too much Delrin plastic.</p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a4/rectangle-long.png"
            description="The interior, narrower rectangles"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a4/rectangle-wide.png"
            description="The exterior, wider rectangles"
            borderOn="false">
          </app-image-viewer>
        </div>

        <div class="assignment-h2">Designing the Assembly version</div>

        <p>Now that I'd created my 2 rectangles as separate parts in Onshape, I could bring them and Josh's rivet into an Assembly and try adding articulation.</p>

        <p>Adding revolute and fastened movement was simple, but it was actually the software that threw me off the most. Once I setup my movement, the lag on my dragging parts around was so great that I thought it failed... Annoying, but once I learned that, I had no problems!</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a4/assembly-1.png"
          description="The fastened assembly"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Preparing for laser-cutting</div>

        <p>I had originally planned on just using cardboard, but the delrin plastic was still floating around the Mill when I wanted to cut, so I took advantage.</p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a4/illustrator-1.png"
            description="The illustrator layout"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a4/laser-cutting-1.jpg"
            description="The laser cutting in action"
            borderOn="false">
          </app-image-viewer>
        </div>


        <div class="assignment-h2">Assembling</div>

        <p>Delrin is an amazing material. Assembling was a breeze, and the play of the joints is smooth, just like the material itself. All of this was done with just 2x2 custom rectangles, and the 4 pre-fabricated rivets.</p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a4/assembling-1.jpg"
            description="The parts coming together"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a4/assembled-1.jpg"
            description="The assembled demo of Movement #325"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p><a target="_blank" href="https://drive.google.com/open?id=1oQ8YKszjIxtOiW6D_pUa91xU8ibtC2Xi">You can see it in movement here.</a></p>

        <div class="assignment-h2">Peer Attribution</div>

        <p>
          Thanks to Julie for sharing tips and a rivet with me. Thanks to Lukas for some pointers about movement.
        </p>

        <div class="assignment-h2">Files</div>

        <p> <a target="_blank" href="https://cad.onshape.com/documents/3168167813e0e2c1cdc734a4/w/04c46254efd5ce3509ddb88d/e/5d169d831a3ce077debfc261">Onshape Rectangle 1</a>
        </p>

        <p> <a target="_blank" href="https://cad.onshape.com/documents/56eed461055c5d35b290a0b2/w/c758b872d9cb989e8c7781d6/e/f54113318292abf98e0beaee">Onshape Rectangle 2</a>
        </p>

        <p><a target="_blank" href="https://cad.onshape.com/documents/02aa12409421f8a0d7bfa93b/w/557645b62f766a23e7a444d5/e/b4d21133a3e6497560ce4f1d">Onshape Assembly</a>
        </p>

        <p><a href="../assets/images/digital-fabrication/a4/rectangle-assembly.ai">AI File</a>
        </p>

      </div>



      <!-- Assignment 5 -->
      <div class="assignment-body" *ngIf="selectedAssignment.id === 5">

        <div class="assignment-h2">Conceptualizing the Box</div>

        <p>
          Similar to prior projects, I wanted to design a simple box that would let me practice the OnShape to KiCad to Bantam workflow. I also wanted a simple design, in which each facet of the box could fit on half of a 7x10cm board of FR1. This would let me screw up without much cost.
        </p>

        <p>I planned a box that would work similarly to Josh's provided in class, using slots for the side facets to be inserted. I took some measurements to start.</p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a5/caliper-1.png"
            description="The height"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a5/caliper-2.png"
            description="The width"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>More importantly, I'd have to ensure that the depth worked perfectly so that it would fit my slots. I took a few measurements and left a few mm of tolerance.</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a5/caliper-3.png"
          description="The depth"
          class="assignment-image">
        </app-image-viewer>

        <p>
          I documented the measurements in a note, <a target="_blank" href="https://www.evernote.com/l/ADcXNf8Ued1Dsr-Ao4etybUXezmFG4FGO0A">here</a>.
        </p>

        <div class="assignment-h2">Designing the top and bottom</div>

        <p>
          With accurate measurements in hand, I began designing the slotted box that I'd mill. I began with the base/top.
        </p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a5/onshape-1.png"
            description="The slotted base/top for my sketch"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a5/onshape-1a.png"
            description="Rendered component"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>
          Next, I knew I would want to use Josh's rivets and the pre-fabricated Onshape file he made of them. Reviewing that file would help me a) learn the software better, and b) find the dimensions I'd need for the holes in my design. I booted up the file he shared on Slack, and made a copy in my account.
        </p>

        <div class="assignment-h2">Designing the walls</div>

        <p>
          Next, I took the measurements I'd established and created the first set of side walls. Since these extended from the base perfectly, this project would be a great candidate for a single, parametric design.
        </p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a5/onshape-3.png"
            description="The first wall design"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a5/onshape-3a.png"
            description="Rendered component"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>
          Finally, I repeated the process for the other set of walls. Since my box is not square, it has 3 different symmetrical parts.
        </p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a5/onshape-6.png"
            description="The second wall design"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a5/onshape-6a.png"
            description="Rendered component"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>
          With these parts all complete, I was ready to export DXFs for KiCad.
        </p>

        <div class="assignment-h2">KiCad</div>

        <p>
          I brought my Onshape DXFs into KiCad, and found that rotating my files was pretty difficult to do. I stacked them on top of each other, and prayed that I would be able to more easily rotate within Bantam tools. This would be necessary for my parts to fit on a single (stacked) set of FR1.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a5/kicad-1.png"
          description="Laying out my base/top on a single board"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Bantam Tools</div>

        <p>
          After saving the files and exporting a Gerber file, I was able to bring that into Bantam.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a5/bantam-1.png"
          description="Laying out my base/top within Bantam, and configuring the milling"
          class="assignment-image">
        </app-image-viewer>

        <p>Bantam was a pleasure to work with. After configuring the file, the offset for the extra, safety board of FR1, and the drill bits I would use, I began to setup and drill. This is where things took a turn for the worse.</p>

        <p>The FR1 was well secured to the bed, and the Bantam file showed everything fitting neatly on the bed, however, after the first 20 minutes of drilling, I noticed the drill eventually moved off the bed when working on the rear groove - something was misaligned.</p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a5/printing-1.jpg"
            description="The top/bottom being printed"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a5/bad-print-1.jpg"
            description="The final, broken product"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>Looking at the broken piece, I could see that the problems were beyond just the mill going off the FR1. What was drilled was also somewhat mangled -- some of the grooves were lost or bled into the cutout line for the actual base.</p>

        <p>Unfortunately, this happened at the Mill's closing on Saturday night, and I knew I wouldn't have time to return for another go. That said, I can at least use my lessons learned here to inform my work on the next project and on the final!</p>

        <div class="assignment-h2">Peer Attribution</div>

        <p>
          Thanks to José for some quick tips!
        </p>

        <div class="assignment-h2">Files</div>

        <p> <a target="_blank" href="https://cad.onshape.com/documents/0171f3745f8c4b626d0d923f/w/38e4c559878738867c3f92e1/e/6f53e4b6b4faf3d3235baeab">Onshape Top/Bottom 1</a>
        </p>

        <p> <a target="_blank" href="https://cad.onshape.com/documents/22469418efa2f40e6df8a80b/w/b3d234fafcebbeb0082104f4/e/c312a73d7709aa124f9b2d86">Onshape Side 1</a>
        </p>

        <p><a target="_blank" href="https://cad.onshape.com/documents/b4139af7aca93960b604764c/w/0eb78af33adad74bee2af16f/e/20a7242bc5c45b9d08aaca52">Onshape Side 2</a>
        </p>

        <p><a href="../assets/images/digital-fabrication/a5/kicad-bottom-top-1.zip">KiCad files</a>

        <p><a href="../assets/images/digital-fabrication/a5/bottom-top-Edge_Cuts.gbr">Gerber file</a>

        <p><a href="../assets/images/digital-fabrication/a5/bantam-recreation.btm">Bantam recreation (crashed right after initial milling)</a>
        </p>

      </div>



      <!-- Assignment 6 -->
      <div class="assignment-body" *ngIf="selectedAssignment.id === 6">

        <div class="assignment-h2">What to mold?</div>

        <p>
          At the beginning of the project, I was feeling pretty daunted by the work that we'd have to do to fabricate the various molds, so I browsed thingoverse for some molds that looked interesting to me. I play a lot of piano, so I decided to look up some favorite composers. Most of them weren't on thingiverse, so I just went with Beethoven. Good ol' Beethoven.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a6/beethoven-1.png"
          description="Beethoven bust on thingiverse: thing #1178 by dino-girl"
          class="assignment-image">
        </app-image-viewer>

        <p>
          The model was described as "low-poly," but still looked pretty detailed, which was concerning. The mold would have to be quite high fidelity to make this work.
        </p>

        <div class="assignment-h2">Modeling the Mold</div>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a6/beethoven-2.png"
            description="View of the model, 1"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a6/beethoven-3.png"
            description="View of the model, 2"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>
          The thingiverse file provided the STL of the bust itself, but I'd have to model the rest of the mold. What would be involved?
        </p>

        <ul>
          <li>Model the container for both sides of the mold</li>
          <li>Add registration points / keys to the two containers, so that they would interlock once placed together</li>
          <li>Model a hole to pour into, which also allows enough space for air to vent out</li>
        </ul>

        <p>
          With the box, registration points, and pour hole all in place, I aligned my Beethoven model and exported a complete STL file for milling. I actually created tool paths in Fusion 360 too, but those didn't end up being necessary. They're provided below along with the other files.
        </p>

        <div class="assignment-h2">Pivoting to Kirby</div>

        <p>
          I brought my files to mill on the shopbot at UW, but ultimately had to grapple with the fact that Beethoven would just be too detailed to realize properly with a 1/8 inch flat end mill. While waiting to use the shopbot, I jumped back to thingiverse, grabbed a model of the esteemed Nintendo hero, Kirby, and subbed out my Beethoven model.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a6/kirby-1.png"
          description="My kirby in Rhino. Original by Leondro. Thing #3419340"
          class="assignment-image">
        </app-image-viewer>

        <p>
          With all of their friendly, anatomical circles, Kirby would prove a much better fit for the shopbot. Realigning the model, I was able to preserve my registration points and pour hole; I just had to scale and transform Kirby appropriately.
        </p>

        <div class="assignment-h2">Milling Kirby on the Shopbot</div>

        <p>
          To use the shopbot, we shared our STL files with our instructor, who initiated the actual milling.
        </p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a6/shopbot-1.png"
            description="The shopbot's interface"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a6/shopbot-2.png"
            description="The shopbot doing its thing"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>
          We hot glued our machinable wax bricks to the work area, and about 30 minutes later, detached our milled, wax molds.
        </p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a6/wax-mold.png"
          description="The cut wax mold"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Oomooing the Mold</div>

        <p>
          To use the machined wax as a mold, we would actually use Oomoo as a softer casting media. This would result in a more reusable mold for our hydrostone plaster.
        </p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a6/oomoo-1.jpg"
            description="Mixing the Oomoo and pouring outside"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a6/oomoo-2.jpg"
            description="The completed Oomoo molds"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>
          The Oomoo was easy to work with, and with a mold this size, I'm left with a lot more for later projects.
        </p>

        <div class="assignment-h2">Plastering the Oomoo</div>

        <p>
          To use the Oomoo molds, I'd just have to seal them together, mix in some hydrostone, and voila!
        </p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a6/molding-1.jpg"
            description="Mixing the hydrostone (careful, it's toxic stuff)"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a6/molding-2.jpg"
            description="Sealing the Oomoo mold with rubberbands"
            borderOn="false">
          </app-image-viewer>
        </div>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a6/molding-3.jpg"
            description="Pouring hydrostone into the sealed mold"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a6/molding-4.jpg"
            description="Unveiling!"
            borderOn="false">
          </app-image-viewer>
        </div>

        <p>Our assignment was to repeat this process 4 times, to demonstrate the reusability of the molds, and here we are!</p>

        <app-image-viewer
          path="../assets/images/digital-fabrication/a6/kirbies.jpg"
          description="A parliament of Kirbies"
          class="assignment-image">
        </app-image-viewer>

        <div class="assignment-h2">Peer Attribution</div>

        <p>
          Thanks to Hanna, D'Marcus, and Lukas! We all worked on two-part molds together at the Mill, before we learned that one part molds could be done. It was a lot of effort, but I'm really happy to know how to make fully 3d figures via molds now.
        </p>

        <div class="assignment-h2">Files</div>

        <p><a href="../assets/images/digital-fabrication/a6/kirby-union.stl">Kirby STL file</a>

        <p><a href="../assets/images/digital-fabrication/a6/Kirby.3dm">Kirby Rhino file</a>

        <p><a href="../assets/images/digital-fabrication/a6/beethoven-union.stl">Beethoven STL file</a>

        <p><a href="../assets/images/digital-fabrication/a6/cutler-beethoven-1001.gcode">Beethoven toolpaths (gcode)</a>
        </p>

      </div>

      <!-- Assignment 7 -->
      <div class="assignment-body" *ngIf="selectedAssignment.id === 7">

        <div class="assignment-h2">The Concept</div>

        <p>
          Benjamin Banneker taught himself how to make clocks at a young age. That is a very 1730s thing to do. Supposedly, at 21, he finished a clock which continued to run until his death, over 50 years later. I think this sounds pretty cool, so I'm taking inspiration from him, and I'm going to try to make a clock... now.
        </p>

        <p>
          Horology is also just an interesting subject. My concept is to dip my feet into it by digitally fabricating a simple clock. My hope is to learn a little bit about history, time, math, and digital fabrication along the way.
        </p>

        <p>
          Unlike Mr. Banneker, I don’t expect my clock will run for 50 years. It might not run at all. But I plan to give it my best effort, and if all goes well, I’ll have a kind of ugly, prototype clock that I can hang on my wall, and use for about 12-24 hours before it stops running. If it tells accurate time over those 12-24 hours, that will be a bonus, but not something I’ll need to be satisfied. I just want to run a solid pilot of this project over the next week — something I can build on over time.
        </p>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a7/clock-1.png"
            description="A prior make of the clock"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a7/clock-2.png"
            description="Another prior make of the clock"
            borderOn="false">
          </app-image-viewer>
        </div>

        <div class="assignment-h2">A Breakdown of Tasks</div>

        <p>
          I plan to use the following 4 tools/skills
        </p>

        <ul>
          <li>CAD</li>
          <li>Mechanism Design</li>
          <li>Laser Cutting</li>
          <li>3d Printing</li>
        </ul>

        <p>
          Pre-existing plans, from Thingiverse, by <a target="_blank" href="https://www.thingiverse.com/thing:1739676">A26</a> and <a target="_blank" href="https://www.thingiverse.com/thing:2819565/comments">drcameron</a>
        </p>

        <p>
          Clocks are complicated, but much of the work has been done for me. I think most of the challenge will be in managing tolerances, sizes, mixing laser cut and 3d printed parts, and ensuring everything assembles and runs without unnecessary / debilitating friction.
        </p>

        <div class="assignment-h2">A Timeline (with Contingency Plans)</div>

        <p>
          This Weekend, June 1 and 2
        </p>
        <p>
          I plan to model, print, and cut all the parts I need over this coming weekend. It took the plan author 6 hours to 3d print them, so I expect to roughly double that time, so I can also laser cut and integrate parts across both media (and re-print/cut as necessary).
        </p>

        <p>
          Next Week, Tuesday the 4th, and Thursday the 6th
        </p>
        <p>
          Once the parts are printed and cut, and the store bought parts arrive, I’ll be at the assembly phase, and I think this is where contingencies really come into play… Even if some parts don’t arrive, I’ll be able to fudge them with available materials or some quick re-prints / re-cuts.
        </p>

        <p>
          My contingencies, in the order I'd make them
        </p>

        <ol>
          <li>Abandon all hope of my clock telling correct time (I kind of already anticipate this, but if all the prints/cuts are clean, it will be attainable)</li>
          <li>Diminish my expectations of how long the clock will run before friction gets the better of it. My goal would be for a few hours at the better end, a few minutes if I have to compromise. If multiple parts come out super wonky after multiple attempts, I’ll have to accept more friction.</li>
          <li>Accept that the clock will only operate on the workshop table, with me holding the gears and rotating them manually.</li>
        </ol>

        <p>
          I think this is a realistic scale of contingencies, but I don’t foresee needing to go beyond #2
        </p>

        <div class="assignment-h2">My Bill of Materials and Sourcing Schedule (estimated)</div>

        <ul>
          <li>Stainless Steel Round Rods, 3mm x 200mm (Saturday and Monday for 2 different sets)</li>
          <li>Stainless Steel Round Rods, 2mm x 150mm (Saturday)</li>
          <li>Stainless Steel Round Rods, 3mm x 350mm (Thursday)</li>
          <li>Deep Groove Ball Bearings, 3 x 6 x 2.5mm (Thursday)</li>
          <li>PLA, 1.75mm, Blue</li>
          <li>Plywood</li>
        </ul>

      </div>



      <!-- Assignment 8 -->
      <div class="assignment-body" *ngIf="selectedAssignment.id === 8">

        <p>
          I think this is a realistic scale of contingencies, but I don’t foresee needing to go beyond #2
        </p>

        <div class="assignment-h2">3d Printing</div>

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a8/3dprint-1.jpg"
            description="Failure!"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a8/3dprint-2.jpg"
            description="Failure 2!"
            borderOn="false">
          </app-image-viewer>
        </div>

        <div class="assignment-h2">CAD/Laser Cutting</div>

        <!-- <app-image-viewer
          path="../assets/images/digital-fabrication/a8/lasercut-1.jpg"
          description="The laser cut ticks"
          class="assignment-image">
        </app-image-viewer> -->

        <div class="work-body-image-grid">
          <app-image-viewer
            path="../assets/images/digital-fabrication/a8/CAD-1.png"
            description="Design"
            borderOn="false">
          </app-image-viewer>
          <app-image-viewer
            path="../assets/images/digital-fabrication/a8/lasercut-1.jpg"
            description="Cut"
            borderOn="false">
          </app-image-viewer>
        </div>

        <div class="assignment-h2">Some parts moving... aka "running"</div>

        <p>It sort of runs! When I spin it!
          <a target="_blank" href="https://drive.google.com/file/d/1-jzwPkot4jq1AEsaOBj1QKdlvpesQnoF/view?usp=sharing">"running"</a>
        </p>

        <div class="assignment-h2">Credit!</div>

        <p>
          Credit where credit is due! From Thingiverse, credit to <a target="_blank" href="https://www.thingiverse.com/thing:1739676">A26</a> and <a target="_blank" href="https://www.thingiverse.com/thing:2819565/comments">drcameron</a>
        </p>

        <p>
          Beyond the actual OG designers, credit and thanks to Corynne in particular! She lent me her filament so that I could run redundant jobs.
        </p>



      </div>


    </div>
  </section>
</article>
