<article class="digital-fabrication-content" [@revealAboutItems]="revealAbout">

  <section class="about-main">

    <div class="secondary-content about-item">
      <img class="self-image" src="../assets/images/about/self-image.jpg" alt="peter-cutler">
    </div>

    <div class="primary-content about-item">
      <div class="bio">
        <p>
          Hey, I'm Peter Cutler, and I'm a UX designer and developer living in Seattle.
          I'm taking Digital Fabrication to learn some cool design methods.
          I'll probably use what we learn to make things for my home, but maybe for work too.
        </p>
        <p>
          Right now I'm looking forward to learning Grasshopper. Some of my friends have been using
          it on interesting projects. I'm happy to teach my peers about design, coding,
          or whatever else! Ask me anything in the Mill. Once we have to use our website for something, I'll probably update this page.
        </p>
      </div>
    </div>

  </section>

  <div class="assignments">
    <div class="assignments-header">
      Assignments
    </div>
    <div class="assignment">
      A1: Laser Cut
    </div>

    <div class="assignment-body">
      <p>Over the last six days, I was out of town for a family vacation in Los Angeles. This prevented me from getting a lot of this assignment done on time, but I was able to spend some gathering inspiration! We took trips to The Getty, LACMA, and The Broad museums, where I got to check out a lot of Bauhaus works from the early 20th century.</p>

      <div class="assignment-h2">Kandinsky Works</div>

      <p>I focused on some of Kandinsky's paintings, which are exploring the repetition of grids and lines. I wanted these to inform my repeating item, so that my 3d structure would look like a Kandinsky work in sculpture form.</p>

      <app-image-viewer
        path="../assets/images/digital-fabrication/a1/kandinsky-circles-in-a-circle.jpg"
        description="Kandinsky - Circles in a Circle"
        class="assignment-image">
      </app-image-viewer>

      <app-image-viewer
        path="../assets/images/digital-fabrication/a1/kandinsky-wave.jpg"
        description="Kandinsky - Wave"
        class="assignment-image">
      </app-image-viewer>

      <app-image-viewer
        path="../assets/images/digital-fabrication/a1/kandinsky-yellow-border.png"
        description="Kandinsky - Yellow Border"
        class="assignment-image">
      </app-image-viewer>

    </div>
  </div>

</article>
