<ngx-gallery
  #gallery
  [style.display]="galleryVisible ? 'inline-block' : 'none'"
  (previewClose)="galleryVisible = false"
  (previewOpen)="galleryVisible = true"
  [options]="galleryOptions"
  [images]="galleryImages">
</ngx-gallery>

<figure class="work-body-figure">
  <img
    class="work-body-image"
    [src]="path"
    [alt]="description"
    (click)="open(gallery)"
    [ngClass]="{'border': borderOn}">

  <div
    class="gallery-info"
    *ngIf="galleryImages.length > 1"
    (click)="open(gallery)"
    [ngClass]="textColor">
    <a class="gallery-icon fas fa-clone"></a>
    <span class="gallery-text">
      <span class="gallery-count">
        {{galleryImages.length}} Photos
      </span>
      <a class="spacer">&#124;</a>
      <span class="gallery-prompt">
        View Slideshow
      </span>
    </span>
  </div>

  <figcaption
    class="work-body-image-caption"
    [ngClass]="{'gallery-present': galleryImages.length > 1}">
    {{description}}
  </figcaption>

</figure>
