<article class="about-content">

  <app-article-header
    header="About"
    subheader="Bio and contact information">
  </app-article-header>

  <div class="about-main">

    <div class="secondary-content">
      <img
        class="self-image"
        src="../assets/images/about/self-image.jpg"
        alt="peter-cutler">

      <div class="contact-group">
        <h2 class="contact-heading">Contact</h2>

        <div class="contact-row">
          <a
            class="contact-link"
            target="_blank"
            href="mailto:petergcutler@gmail.com">
            Email
          </a>
        </div>

        <div class="contact-row">
          <a
            class="contact-link"
            target="_blank"
            href="https://twitter.com/petergcutler">Twitter</a>
        </div>

        <div class="contact-row">
          <a
            class="contact-link"
            target="_blank"
            href="https://linkedin.com/in/petergcutler/">LinkedIn</a>
        </div>
      </div>
    </div>

    <div class="primary-content">
      <div class="bio">

        <p>
          Hello!
        </p>

        <p>
          My name is Peter Cutler, and I'm a UX researcher living in Seattle, Washington.
          I'm currently working towards my Master's in Human Centered Design & Engineering
          at the University of Washington.
        </p>

        <p>
          I'm originally from Washington, D.C., where I grew up and worked before grad school.
          I've spent time in a number of different tech roles, contributing writing, design,
          animation, software engineering, and lots of other work to some great companies
          and clients. I've shared a lot of my work here. Take a look, and feel free to reach out.
        </p>

      </div>
    </div>

  </div>

  <app-article-footer></app-article-footer>
</article>
