<article class="about-content">

  <app-article-header
    class="desktop-only"
    header="About"
    subheader="Bio and contact information">
  </app-article-header>

  <section class="about-main">

    <div class="secondary-content">
      <img
        class="self-image"
        src="../assets/images/about/self-image.jpg"
        alt="peter-cutler">
      <div class="contact-group">
        <h2 class="contact-heading">Contact</h2>
        <div class="contact-row">
          <a
            class="contact-link"
            target="_blank"
            href="mailto:petergcutler@gmail.com">
            Email
          </a>
        </div>
        <div class="contact-row">
          <a
            class="contact-link"
            target="_blank"
            href="https://twitter.com/petergcutler">Twitter</a>
        </div>
        <div class="contact-row">
          <a
            class="contact-link"
            target="_blank"
            href="https://linkedin.com/in/petergcutler/">LinkedIn</a>
        </div>
      </div>
    </div>

    <div class="primary-content">
      <div class="bio">
        <p>
          Hey, I'm Peter Cutler, and I'm a Master's student living in Seattle.
          I'm currently studying <a target="_blank" class="about-body-link" href="https://www.hcde.washington.edu/ms/">
          Human Centered Design & Engineering</a> at the University of
          Washington.
        </p>
        <p>
          I've worked in different tech roles for the past seven years, doing
          things like writing, strategy, ux, design, and software engineering
          with some great people. <a class="about-body-link" routerLink="/work">
          You can find some of my work here</a>. Take a look and feel free to
          reach out.
        </p>
      </div>
    </div>
  </section>

  <app-article-footer></app-article-footer>
</article>
