<article class="about-content">

  <app-article-header
    header="About"
    subheader="Bio and contact information">
  </app-article-header>

  <div class="about-main">

    <div class="secondary-content">
      <img
        class="self-image"
        src="../assets/images/about/self-image.jpg"
        alt="peter-cutler">

      <div class="contact-group">
        <h2 class="contact-heading">Contact</h2>

        <div class="contact-row">
          <a
            class="contact-link"
            target="_blank"
            href="mailto:petergcutler@gmail.com">
            Email
          </a>
        </div>

        <div class="contact-row">
          <a
            class="contact-link"
            target="_blank"
            href="https://twitter.com/petergcutler">Twitter</a>
        </div>

        <div class="contact-row">
          <a
            class="contact-link"
            target="_blank"
            href="https://linkedin.com/in/petergcutler/">LinkedIn</a>
        </div>
      </div>
    </div>

    <div class="primary-content">
      <div class="bio">

        <p>
          My name is Peter Cutler, and I'm a UX researcher living in Seattle,
          Washington. I'm currently working towards my Master's in <a target="_blank" href="https://www.hcde.washington.edu/ms/">
          Human Centered Design & Engineering</a> at the a University of
          Washington.
        </p>

        <p>
          I'm originally from Washington, D.C., where I grew up and lived
          before grad school. I've worked in a variety of tech roles for
          over seven years, contributing writing, design, software engineering,
          and other work to some great companies and clients. I've shared some
          of my work here. Take a look, and feel free to reach out.
        </p>

      </div>
    </div>

  </div>

  <app-article-footer></app-article-footer>
</article>
