<article class="work-entry">

  <header class="work-header">
    <section class="work-titling">
      <h1 class="work-title">
        Secure Storage for Tent Cities
      </h1>
      <div class="work-title-border"></div>
      <div class="work-subtitle">
        Designing a user-centered solution to help homeless Seattle residents store their possessions securely and sustainably
      </div>
    </section>
    <ul class="work-tags">
      <li class="work-tag">UX Research</li>
      <li class="work-tag">Research Planning</li>
      <li class="work-tag">Information Architecture</li>
      <li class="work-tag">Wireframing</li>
      <li class="work-tag">Prototyping</li>
    </ul>
    <div class="work-description">
    </div>
  </header>

  <section class="work-section">
    <h2 class="work-body-h2">
      Opportunity Space and Scope
    </h2>
    <p>
      Our opportunity space was initially broad: we wanted to look at problems for homeless residents of Seattle. To narrow our scope, we began a literature review and reached out to experts for interviews.
    </p>
    <ul class="work-body-list">
      <li>
        We read dozens of investigative reports and created <a class="work-body-link" target="_blank" href="https://www.evernote.com/shard/s55/sh/399d9d7c-0076-4bc3-8724-f5059f4f0e54/75be081166e1709a">notes like this one</a>, organizing opportunities that we could investigate.
      </li>
      <li>
        I discussed our project planning and our focus on storage with Barbara Poppe, an appointee by President Obama to the U.S. Interagency Council on Homelessness. She helped validate our trajectory.
      </li>
    </ul>
    <p>
      This early research helped us understand how a narrow scope would help us achieve tangible results. Storage was small enough in scope for us to explore, but was something our research indicated was a significant problem for many Seattle residents experiencing homelessness.
    </p>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Understanding the Domain
    </h2>
    <p>
      We first wanted to define what audiences were involved and what resource constraints we would face. Seattle presents many distinct populations of homeless residents who are relying on a variety of housing programs for support. Beyond existing housing programs, we also wanted to understand the financial resources that the city puts towards homelessness.
    </p>
    <div class="work-body-image-grid">
      <app-image-viewer
        path="../assets/images/work/uw-secure-storage/homeless-housing-programs.png"
        description="The four types of homeless housing programs in Seattle"
        [borderOn]="true">
      </app-image-viewer>
      <app-image-viewer
        path="../assets/images/work/uw-secure-storage/homelessness-budgets.jpeg"
        description="The homelessness spending budget in Seattle"
        [borderOn]="true">
      </app-image-viewer>
    </div>
    <p>
      Housing programs differ in many ways. A single solution may not work for each type of shelter. And the budgetary resources here are scarce.
    </p>
  </section>

  <section class="work-section">
    <h3 class="work-body-h3">
      Putting Housing First
    </h3>
    <p>
      We came to align ourselves with a budgetary concept of <a class="work-body-link" target="_blank" href="https://www.desc.org/what-we-do/housing/housing-first/">housing first</a> &mdash; the idea that the overwhelming effort of the city should be to create robust permanent housing solutions for all, rather than stop-gap measures.
    </p>
    <p>
      As we progressed, we often asked ourselves, "is this solution worth more than a single permanent home?" Prioritizing "housing first," we knew our solution would have to use resources responsibly &mdash; either through a low cost or through an easy method of scaling the resources required.
    </p>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Competitive Analysis
    </h2>
    <p>
      We found that many existing solutions didn't account for the range of housing programs that exist. They frequently used costly materials or had trouble scaling.
    </p>
    <div class="work-body-image-grid">
      <app-image-viewer
        path="../assets/images/work/uw-secure-storage/hope-lockers.png"
        description="Sketches of the H.O.P.E. lockers in Salt Lake City">
      </app-image-viewer>
      <app-image-viewer
        path="../assets/images/work/uw-secure-storage/denver-lockers.jpg"
        description="One of the lockers from Denver's program">
      </app-image-viewer>
    </div>
    <p>
      The H.O.P.E. lockers, shown above, cost $10,000 each to build. Another storage pilot program in Denver, shown below, cost $100,000 to initiate, and included a high upkeep cost each month onward. Based on these problems with existing solutions, we saw an opportunity for a cheaper, more sustainable, community-oriented system.
    </p>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Surveying Shelter Residents
    </h2>
    <p>
      We crafted two surveys &mdash; one for shelter administrators and one for shelter residents &mdash; to get perspectives from the key stakeholders for a storage-oriented project.
    </p>
    <p>
      Some of our questions for stakeholders included:
    </p>
    <ul class="work-body-list">
      <li>How long do residents leave belongings unattended?</li>
      <li>How do you ensure security?</li>
      <li>How do you manage access?</li>
      <li>How much space is available at your shelter for storage?</li>
    </ul>
    <p>
      And for residents:
    </p>
    <ul class="work-body-list">
      <li>Do you co-habitate with others?</li>
      <li>Would you be comfortable sharing storage with your group?</li>
      <li>Are you comfortable having fellow community members watch over lockers?</li>
      <li>What storage size do you require?</li>
    </ul>
    <p>
      We also asked questions about the level of trust within the community, the logistics and operations, and how communication is handled between residents in different scenarios.
    </p>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Visiting and Interviewing
    </h2>
    <p>
      Our group was also interested in solutions that helped Seattle's tent cities. These communities are transitional, vulnerable, and have been contentious in housing discussions. To gain an understanding of the needs of residents of transitional housing, we visited Nickelsville Ballard to transect-walk and interview.
    </p>
    <app-image-viewer
      [images]="nickelsvilleImages"
      path="../assets/images/work/uw-secure-storage/nickelsville-1a.png"
      description="Gallery of Nickelsville Ballard"
      [borderOn]="true">
    </app-image-viewer>
    <p>
      Our guide gave us a tour and joined us in an interview. We gained a much deeper understanding of the relationship residents have with their belongings and storage. Some of our takeaways included:
    </p>
    <ul class="work-body-list">
      <li>
        Residents have various needs for privacy, which extend to their storage.
      </li>
      <li>
        Transitional communities must be able to move on short notice due to raids or other relocation needs. Residents must be able to bring both their goods and the means to store them.
      </li>
      <li>
        Our guide reiterated what our surveys found &mdash; residents have a lot of possessions, often over 500 or 1000 liters.
      </li>
      <li>
        There is often room at a site for more storage, but no structure to house goods.
      </li>
    </ul>
    <h3 class="work-body-h3">
      Early Design Ideas from the Field
    </h3>
    <p>
      One of my design ideas came from the visit &mdash; from seeing structural supports like the ones in the last three picture. Many of the structures in the Nickelsville Ballard camp were made from a mix of materials (wood, plastic, PVC), and a simple waterproof shell, like a tarp. I knew I wanted to explore a structural, component-based system more.
    </p>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Synthesizing Personas and Early Design
    </h2>
    <p>
      We created a set of personas to represent the most common findings from our research. Rather than editorialize approximate stories for our personas, we based the descriptions and metadata of each persona on the most common, real tropes we found in our data.
    </p>
    <div class="work-body-image-grid">
      <app-image-viewer
        [images]="personaImages"
        path="../assets/images/work/uw-secure-storage/HCDE518_Personas-3.jpg"
        description="A gallery of our scenario-based personas"
        [borderOn]="true"
        textColor="black">
      </app-image-viewer>
      <app-image-viewer
        [images]="sketchImages"
        path="../assets/images/work/uw-secure-storage/sketch-2.png"
        description="A gallery of early sketches from design brainstorms">
      </app-image-viewer>
    </div>
    <p>
      We began to design simple, sketched concepts for solutions. I developed three sketches that each explored ways to add storage at a minimal cost, using commonly available materials.
    </p>
    <ul class="work-body-list">
      <li>
        Use cheap, high-volume plastic footlockers as a foundation for a larger array of storage.
      </li>
      <li>
        Work with the city to reappropriate large recycling containers to be used as lockers.
      </li>
      <li>
        Finally, taking my idea from the field visit to Nickelsville, create a library of "component-based" storage solutions that users can browse to create a storage solution from the materials they have on hand.
      </li>
    </ul>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Iterating on a Single Design
    </h2>
    <p>
      As we met as a team and discussed our sketches, we decided to pursue the modular, component-based solution described above. We liked the idea of a library that users could browse to find different structures they could build with any range of available materials. It aligned with our findings regarding the changing needs of scale, features, and cost that our users wanted. It also had a clear basis in the lived experience we learned about from our field visit.
    </p>
    <p>
      With a solution in mind, we had a lot of work to do to iterate and expand on the design. Over the next two weeks, we explored implementation, prototypes, and a representative information architecture for how such a system would work. We presented our design in a comprehensive brief.
    </p>
    <p>
      Click below to view or download the brief via Dropbox.
    </p>
    <figure class="work-body-figure">
      <a target="_blank" href="https://www.dropbox.com/s/oygbtc5ecu7goxi/Design%20Specifications.pdf?dl=0">
        <img
          src="../assets/images/work/uw-secure-storage/design-specifications-1.png"
          class="work-body-image border"
          alt="Design brief cover">
      </a>
      <figcaption class="work-body-image-caption">
        Our design brief
      </figcaption>
    </figure>
    <p>
      This is a detailed report with many different elements. If you'd like to know more, please reach out. Thanks for reading.
    </p>
  </section>

</article>
