<article class="work-entry" role="article">

  <app-work-header>
    <p>
      I worked with a team to design a way to help homeless Seattle residents store their possessions securely and sustainably. We researched the problem area and prototyped a system that offered a library of storage structures and instructions to build them using commonly available materials.
    </p>
  </app-work-header>

  <section class="work-section">
    <h2 class="work-body-h2">
      Opportunity Space and Scope
    </h2>
    <p>
      Our opportunity space was initially broad: we wanted to look at problems for homeless residents of Seattle. To narrow our scope, we began a literature review and reached out to experts for interviews.
    </p>
    <ul class="work-body-list">
      <li>
        We read dozens of investigative reports and created <a class="basic-link" target="_blank" href="https://www.evernote.com/shard/s55/sh/399d9d7c-0076-4bc3-8724-f5059f4f0e54/75be081166e1709a">notes like this one</a>, organizing opportunities that we could investigate.
      </li>
      <li>
        I discussed our project planning and our focus on storage with Barbara Poppe, an appointee by President Obama to the U.S. Interagency Council on Homelessness. She helped validate our trajectory.
      </li>
    </ul>
    <p>
      This early research helped us understand how a narrow scope would help us achieve tangible results. Storage was small enough in scope for us to explore, but was something our research indicated was a significant problem for many Seattle residents experiencing homelessness.
    </p>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Understanding the Domain
    </h2>
    <p>
      We first wanted to define what audiences were involved and what resource constraints we would face. Seattle presents many distinct populations of homeless residents who are relying on a variety of housing programs for support. Beyond existing housing programs, we also wanted to understand the financial resources that the city puts towards homelessness.
    </p>
    <div class="work-body-image-grid">
<!--       <app-image-viewer
        path="../assets/images/work/uw-secure-storage/homeless-housing-programs.png"
        description="The four types of homeless housing programs in Seattle"
        [borderOn]="true">
      </app-image-viewer>
      <app-image-viewer
        path="../assets/images/work/uw-secure-storage/homelessness-budgets.jpeg"
        description="The homelessness spending budget in Seattle"
        [borderOn]="true">
      </app-image-viewer> -->
    </div>
    <p>
      Housing programs differ in many ways. A single solution may not work for each type of shelter. And the budgetary resources here are scarce.
    </p>
  </section>

  <section class="work-section">
    <h3 class="work-body-h3">
      Putting Housing First
    </h3>
    <p>
      We came to align ourselves with a budgetary concept of <a class="basic-link" target="_blank" href="https://www.desc.org/what-we-do/housing/housing-first/">housing first</a> &mdash; the idea that the overwhelming effort of the city should be to create robust permanent housing solutions for all, rather than stop-gap measures.
    </p>
    <p>
      As we progressed, we often asked ourselves, "is this solution worth more than a single permanent home?" Prioritizing "housing first," we knew our solution would have to use resources responsibly &mdash; either through a low cost or through an easy method of scaling the resources required.
    </p>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Competitive Analysis
    </h2>
    <p>
      We found that many existing solutions didn't account for the range of housing programs that exist. They frequently used costly materials or had trouble scaling.
    </p>
    <div class="work-body-image-grid">
<!--       <app-image-viewer
        path="../assets/images/work/uw-secure-storage/hope-lockers.png"
        description="Sketches of the H.O.P.E. lockers in Salt Lake City">
      </app-image-viewer>
      <app-image-viewer
        path="../assets/images/work/uw-secure-storage/denver-lockers.jpg"
        description="One of the lockers from Denver's program">
      </app-image-viewer> -->
    </div>
    <p>
      The H.O.P.E. lockers, shown above, cost $10,000 each to build. Another storage pilot program in Denver, shown below, cost $100,000 to initiate, and included a high upkeep cost each month onward. Based on these problems with existing solutions, we saw an opportunity for a cheaper, more sustainable, community-oriented system.
    </p>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Surveying Shelter Residents
    </h2>
    <p>
      We crafted two surveys &mdash; one for shelter administrators and one for shelter residents &mdash; to get perspectives from the key stakeholders for a storage-oriented project.
    </p>
    <p>
      Some of our questions for stakeholders included:
    </p>
    <ul class="work-body-list">
      <li>How long do residents leave belongings unattended?</li>
      <li>How do you ensure security?</li>
      <li>How do you manage access?</li>
      <li>How much space is available at your shelter for storage?</li>
    </ul>
    <p>
      And for residents:
    </p>
    <ul class="work-body-list">
      <li>Do you co-habitate with others?</li>
      <li>Would you be comfortable sharing storage with your group?</li>
      <li>Are you comfortable having fellow community members watch over lockers?</li>
      <li>What storage size do you require?</li>
    </ul>
    <p>
      We also asked questions about the level of trust within the community, the logistics and operations, and how communication is handled between residents in different scenarios.
    </p>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Visiting and Interviewing
    </h2>
    <p>
      Our group was also interested in solutions that helped Seattle's tent cities. These communities are transitional, vulnerable, and have been contentious in housing discussions. To gain an understanding of the needs of residents of transitional housing, we visited Nickelsville Ballard to transect-walk and interview.
    </p>
<!--     <app-image-viewer
      [images]="nickelsvilleImages"
      path="../assets/images/work/uw-secure-storage/nickelsville-1a.png"
      description="Gallery of Nickelsville Ballard"
      [borderOn]="true">
    </app-image-viewer> -->
    <p>
      Our guide gave us a tour and joined us in an interview. We gained a much deeper understanding of the relationship residents have with their belongings and storage. Some of our takeaways included:
    </p>
    <ul class="work-body-list">
      <li>
        Residents have various needs for privacy, which extend to their storage.
      </li>
      <li>
        Transitional communities must be able to move on short notice due to raids or other relocation needs. Residents must be able to bring both their goods and the means to store them.
      </li>
      <li>
        Our guide reiterated what our surveys found &mdash; residents have a lot of possessions, often over 500 or 1000 liters.
      </li>
      <li>
        There is often room at a site for more storage, but no structure to house goods.
      </li>
    </ul>
    <h3 class="work-body-h3">
      Early Design Ideas from the Field
    </h3>
    <p>
      One of my design ideas came from the visit &mdash; from seeing structural supports like the ones in the last three picture. Many of the structures in the Nickelsville Ballard camp were made from a mix of materials (wood, plastic, PVC), and a simple waterproof shell, like a tarp. I knew I wanted to explore a structural, component-based system more.
    </p>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Synthesizing Personas and Early Design
    </h2>
    <p>
      We created a set of personas to represent the most common findings from our research. Rather than editorialize approximate stories for our personas, we based the descriptions and metadata of each persona on the most common, real tropes we found in our data.
    </p>
    <div class="work-body-image-grid">
<!--       <app-image-viewer
        [images]="personaImages"
        path="../assets/images/work/uw-secure-storage/HCDE518_Personas-3.jpg"
        description="A gallery of our scenario-based personas"
        [borderOn]="true"
        textColor="black">
      </app-image-viewer>
      <app-image-viewer
        [images]="sketchImages"
        path="../assets/images/work/uw-secure-storage/sketch-2.png"
        description="A gallery of early sketches from design brainstorms">
      </app-image-viewer> -->
    </div>
    <p>
      We began to design simple, sketched concepts for solutions. I developed three sketches that each explored ways to add storage at a minimal cost, using commonly available materials.
    </p>
    <ul class="work-body-list">
      <li>
        Use cheap, high-volume plastic footlockers as a foundation for a larger array of storage.
      </li>
      <li>
        Work with the city to reappropriate large recycling containers to be used as lockers.
      </li>
      <li>
        Finally, taking my idea from the field visit to Nickelsville, create a library of "component-based" storage solutions that users can browse to create a storage solution from the materials they have on hand.
      </li>
    </ul>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Elaborating on a Single Design
    </h2>
    <p>
      We decided to develop the idea of creating an open source library of storage schematics, supporting commonly available materials. Why did we pick this design solution?
    </p>
    <ul class="work-body-list">
      <li>
        <span class="bold">It aligns with Housing First.</span> This is an open-source product that crowd-sources volunteer expertise. A product like this creates value for homeless residents without burdening the city with investment cost.
      </li>
      <li>
        <span class="bold">It's supported by our field visit and user interviews.</span> Structure and storage fabrication comes from volunteers donating hardware or their time. A product that organizes schematics and materials could aid both processes.
      </li>
      <li>
        <span class="bold">It creates value for a diverse range of shelters.</span> Whether a permanent shelter or a transitional environment, this product could offer a range of storage options that could benefit the user. A single storage design would only be able to benefit one shelter type. This product addresses a range of contexts.
      </li>
      <li>
        <span class="bold">It paves a way to iteratively improve upon the process of establishing a new tent city.</span> Seattle and many other cities are creating transitional housing in the form of sanctioned tent cities with increasing frequency. The open source and version control tools within a system like this can help ensure that each new tent city improves upon the one before it.
      </li>
    </ul>
  </section>

  <section class="work-section">
    <h3 class="work-body-h3">
      Competitive Analysis, Pt. 2
    </h3>
    <p>
      For our design exploration, we considered existing tools that offered the features we wanted to provide:
    </p>
    <ul class="work-body-list">
      <li>
        <span class="bold">Instructables, Make: Magazine, eHow:</span> Community driven organization of DIY process, schematics, instructions
      </li>
      <li>
        <span class="bold">GitHub, Bitbucket:</span> Open source and version control organization, particularly forking projects and creating pull requests
      </li>
      <li>
        <span class="bold">McMaster-Carr:</span> Information architecture for components and tools
      </li>
      <li>
        <span class="bold">Ikea:</span> Clear presentation of components, tools, and fabrication steps
      </li>
    </ul>
    <p>
      As I worked on a separate list of jobs-to-be-done, and the kinds of user stories that would be involved in this product, I saw the list of complex features rapidly grow. We would need to distill this down to a few important elements and features at the outset.
    </p>
    <h3 class="work-body-h3">
      What's the MVP?
    </h3>
    <p>
      To create value for our users, we needed to achieve something simple. Present clear instructions for how to build a storage device using commonly available materials; describe what components and tools are required; explain the steps involved in putting them together to create a functional product.
    </p>
    <p>
      While it's exciting to think ahead to the digital feature-set and high fidelity design, a functional MVP of this product would work as a printed booklet full of multi-page schematics. The booklet could be downloadable from anywhere, printed, and distributed to shelters, donors, and volunteer contractors.
    </p>
    <div class="work-body-image-grid">
<!--       <app-image-viewer
        path="../assets/images/work/uw-secure-storage/shed-mockup-1.jpg"
        description="Schematics function well on paper for an MVP">
      </app-image-viewer>
      <app-image-viewer
        path="../assets/images/work/uw-secure-storage/shed-mockup-2.jpg"
        description="Compiling many schematics as a single toolkit">
      </app-image-viewer> -->
    </div>
    <p>
      By hosting the schematics on GitHub using a standard markup language and asset directories, we can also open the documents up for forks and pull requests.
    </p>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Design Brief
    </h2>
    <p>
      Beyond the MVP, we developed wireframes to illustrate some of the product's feautures that could progress into digital versions of the application. Click below to view or download the brief via Dropbox.
    </p>
    <figure class="work-body-figure">
      <a target="_blank" href="https://www.dropbox.com/s/oygbtc5ecu7goxi/Design%20Specifications.pdf?dl=0">
        <img
          src="../assets/images/work/uw-secure-storage/design-specifications-1.png"
          class="work-body-image border"
          alt="Design brief cover">
      </a>
      <figcaption class="work-body-image-caption">
        Our design brief
      </figcaption>
    </figure>
    <p>
      This is a detailed report with many different elements. If you'd like to know more, please reach out. Thanks for reading.
    </p>
  </section>

</article>
