<footer class="main-footer" role="contentinfo">

  <div *ngIf="longPage" class="scroll-to-top">
    <span 
      pageScroll
      href="#scrollTop"
      class="scroll-button button-underline">
      Back to Top
    </span>
  </div>

  <!-- <div *ngIf="imageCredit" class="image-attribution">
    <span>Thumbnail image by
      <a target="_blank" href="{{imageCredit.artistSite}}">{{imageCredit.artist}}</a>
      via <a target="_blank" href="{{imageCredit.source}}">Flickr</a>.</span>
  </div> -->

  <div class="border-footer">
    <span class="copyright-text">
      &copy; Copyright 2018, Peter Cutler
    </span>
  </div>
</footer>
