<footer class="main-footer" role="contentinfo">

  <div *ngIf="longPage" class="scroll-to-top">
    <span
      pageScroll
      href="#scrollTop"
      class="scroll-button button-underline">
      Back to Top
    </span>
  </div>

  <!-- <div *ngIf="imageCredit" class="image-attribution">
    <span>Thumbnail image by
      <a target="_blank" href="{{imageCredit.artistSite}}">{{imageCredit.artist}}</a>
      via <a target="_blank" href="{{imageCredit.source}}">Flickr</a>.</span>
  </div> -->

  <section class="page-bottom">
    <span class="copyright-text">
      &copy; 2018, Peter Cutler
    </span>

    <div class="contact-links">
      <a target="_blank" href="https://twitter.com/petergcutler" class="fab fa-twitter"></a>
      <a target="_blank" href="mailto:petergcutler@gmail.com" class="fas fa-envelope"></a>
      <a target="_blank" href="https://linkedin.com/in/petergcutler/" class="fab fa-linkedin"></a>
    </div>
  </section>
</footer>
