<article class="era-detail-content">
  <div class="era-detail-main" [@revealListItems]="revealList">

    <div class="grid-header" id="scrollTop">
      <div class="era-detail-item header">
        From 2011-2015, I worked for FleishmanHillard creative teams, ultimately leading VOX Global's video & motion design group. During my time with FH companies, I focused on brand strategy, design, and UX. 
      </div>
    </div>

    <div class="grid-main">
      <div class="era-detail-item"
         *ngFor="let work of filteredWorks; index as i;"
         routerLink="/work/{{work.url}}">
        <div class="era-detail-item-image-wrapper">
          <img class="era-detail-item-image"
             src="../assets/images/work/thumbnails/{{work.url}}.png"
             alt="{{work.display}}">
        </div>
        <div class="era-detail-item-title">{{work.display}}</div>
        <div class="era-detail-item-subtitle">{{work.subtitle}}</div>
      </div>
    </div>

  </div>
</article>