<article class="work-entry" role="article">

  <app-work-header>
    <p>
      Through a unique partnership between the <a class="work-body-link" target="_blank" href="https://media.ifrc.org/">International Federation of Red Cross and Red Crescent Societies (IFRC)</a> and the University of Washington, my cohort was able to collaboratively research ways to incorporate Human-Centered principles into the <a class="work-body-link" target="_blank" href="http://www.ifrc.org/vca">Vulnerability & Capacity Assessment (VCA)</a> system.
    </p>
    <p>
      The IFRC uses a participatory design model for its community programs like the VCA. As experts on the meeting points of technology and human-centered research & design, we collaborated with Red Cross teams to layout opportunities to better integrate technology into their participatory VCA approach.
    </p>
  </app-work-header>

  <section class="work-section" ngsReveal>
    <h2 class="work-body-h2">
      Building Understanding
    </h2>
    <p>
      At the outset of this project, our first step was to recalibrate our understanding of our domain to align with <a class="work-body-link" target="_blank" href="https://media.ifrc.org/ifrc/who-we-are/fundamental-principles/">humanitarian principles</a> and with <a class="work-body-link" target="_blank" href="http://www.un.org/en/universal-declaration-human-rights/">The Universal Declaration of Human Rights</a>.
    </p>
    <p>
      If you want to understand some of this task of recalibration, please takea look at <a class="work-body-link" target="_blank" href="https://www.dropbox.com/s/wixuevlkpiu27dw/2.%20mays-racadio-gugerty.mismatch%20business%20and%20humanitarian%20logistics.2012Oct.pdf?dl=0">an excellent, quick summary of contextual shifts involved</a>. Designing with a humanitarian's outlook is not always intuitive!
    </p>
    <div class="work-body-youtube-video work-video-embed">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Fv5vE2vxYwY?rel=0"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen>
      </iframe>
    </div>
    <p>
      Simultaneously, we dug deeply into the notion of complex systems and system design, reading two texts that informed our understanding.
    </p>
    <ul class="work-body-list">
      <li>
        <a class="work-body-link" target="_blank" href="https://mitpress.mit.edu/books/streetlights-and-shadows">
          Streetlights & Shadows</a> &mdash; Gary Klein's investigation into what it means to design in and for a complex, changing environment.
      </li>
      <li>
        <a class="work-body-link" target="_blank" href="http://www.gurteen.com/gurteen/gurteen.nsf/id/X00052762/">
          Information Ecology</a> &mdash; Thomas Davenport's exploration into the human-centered basis of the information we share.
      </li>
    </ul>
    <p>
      This period of research aided us in understanding, first, the domain of our clients at the IFRC, and in turn, how they support millions of individuals through the VCA system.
    </p>
  </section>

  <section class="work-section" ngsReveal>
    <h2 class="work-body-h2">
      Humanitarian Systems 101
    </h2>
    <p>
      Some of our first lessons learned included:
    </p>
    <ul class="work-body-list">
      <li>
        The community comes first. While there are many stakeholders in the VCA system, it is the community that determines the plan and owns the results.
      </li>
      <li>
        In this domain, there are absolutely no quid pro quos. All of our actions are in the service of the community. Furthermore, we cannot define what serves the community &mdash; only they can do that.
      </li>
      <li>
        Communicating scope is the best way to mitigate the constant push and pull of changing variables in a large, complex system. Stakeholders, requirements, participants, and directives may constantly change, but by maintaining a shared sense of scope, the project can still deliver results and value.
      </li>
      <li>
        Systems don't succeed or fail; rather, they shift around the active stakeholders' competing objectives. As researchers, our first task is to understand the system and those influencing it.
      </li>
    </ul>
    <p>
      It's impossible to communicate the complexity of this system in a single case study, but I hope the resources shared above can provide some important context.
    </p>
  </section>

  <section class="work-section" ngsReveal>
    <h3 class="work-body-h3">
      Move Slow and Break Nothing
    </h3>
    <p>
      Working with a complex humanitarian system, we had to be mindful that the system, as it stands, works well. We all had a keen sense to "first do no harm." In many ways, it would be easier to hinder progress through careless changes than to improve the tried and true VCA model. This notion became the foundation for my team's approach.
    </p>
    <p>
      Knowing that the existing VCA model works, how can we build on it, or expand it, with a digital toolset? We decided to take on the issue of scaling VCA processes with human-centered applications of new technology.
    </p>
  </section>

  <section class="work-section" ngsReveal>
    <h2 class="work-body-h2">
      The VCA Model in Urban Settings
    </h2>
    <p>
      Our research indicated VCAs were a proven and effective model, and that the participatory nature of the model was part and parcel to its success. However, not everything worked well: the success stories overwhelmingly took place in small, rural settings. The IFRC was grappling with how to apply this participatory model in cities.
    </p>
    <p>
      A typical VCA involves 20-30 community members collaboratively building a shared understanding and problem solving, using many traditional human-centered design methods. Some examples include:
    </p>
    <ul class="work-body-list">
      <li>
        Collaborative mapping of the community, including group transect-walks to explore community hazards
      </li>
      <li>
        Institutional and social-network analysis; community stakeholder analysis
      </li>
      <li>
        Review of secondary-sources and semi-structured interviews to inform each of the above
      </li>
    </ul>
    <p>
      VCA facilitators were experienced applying these practices on pen & paper, in small groups. This methodology ensured the egalitarian nature of the process: everyone in the room could voice their concerns and be heard. But it was inherently limiting to the number of participants. This became our challenge:
    </p>
    <app-image-viewer
      path="../assets/images/work/uw-complex-systems/problem-solving.png"
      description="VCAs have traditionally relied on analog, participatory methods">
    </app-image-viewer>
    <p>
      How can we use technology to enhance the human-centered processes of the VCA without hindering the participatory, equitable nature of the model?
    </p>
  </section>

  <section class="work-section" ngsReveal>
    <h2 class="work-body-h2">
      Crafting a Research Plan
    </h2>
    <p>
      To answer our questions, we interviewed our IFRC colleagues in semi-structured interviews, and conducted a deep, secondary-source analysis of case studies of prior VCAs. We also sent a representative to an IFRC VCA conference in Kuala Lumpur to ask prepared questions of VCA facilitators.
    </p>
    <p>In brief, some of our key findings and recommendations included:</p>
    <ul class="work-body-list">
      <li>
        To scale geographical mapping and problem solving, while maintaining the participatory method, pilot the inclusion of GIS tools in collaborative mapping approaches.
      </li>
      <li>
        Pilot social-network analysis and secondary-source research to scale the stakeholder mapping, and reach a wider, more complex network.
      </li>
      <li>
        VCA facilitators have limited time for collaborative testing. Before involving them, model the pilots through methods like roleplaying, scenarios and user-journey maps, and bodystorming.
      </li>
    </ul>
    <p>You can see our full report below:</p>
    <figure class="work-body-figure">
      <a target="_blank" href="https://www.dropbox.com/s/bz4f7rfn38zvqed/HCDE%20520%20-%20Team%204.pdf?dl=0">
        <img
          src="../assets/images/work/uw-complex-systems/final-written-plan.png"
          class="work-body-image border"
          alt="Link to our written plan">
      </a>
      <figcaption class="work-body-image-caption">
        Our team's final report
      </figcaption>
    </figure>
    <p>
      To conclude our work, we presented our report to the IFRC, and subsequently to students who would continue our work in Directed Research Groups. We were all deeply grateful to the IFRC for their time and collaboration: working with them was an incredible opportunity, and gave us amazing insights into a humanitarian, complex system at work.
    </p>
    <p>
      If you have any questions about the report, please reach out! Thanks for reading.
    </p>
  </section>

</article>
