<article class="writing-content">
  <app-article-header
    header="Writing"
    subheader="Essays, posts, blogs, etc.">
  </app-article-header>

  <div class="writing-main">

    <div class="spotlight-articles">
      <h2 class="articles-intro">
        Selected writings
      </h2>
      <ul class="article-list">
        <li class="article-item">
          <a class="article-link" href="">Link Coming Soon</a>
        </li>
        <li class="article-item">
          <a class="article-link" href="">Link Coming Soon</a>
        </li>
        <li class="article-item">
          <a class="article-link" href="">Link Coming Soon</a>
        </li>
        <li class="article-item">
          <a class="article-link" href="">Link Coming Soon</a>
        </li>
      </ul>
    </div>

    <a
      class="button-bright"
      target="_blank"
      href="https://medium.com/@petergcutler">See all Medium posts</a>
  </div>

  <app-article-footer></app-article-footer>
</article>
