<nav class="main-nav" role="navigation" [@revealNavItems]="revealNav">
  <section class="main-nav-section">
    <a class="main-nav-logo" routerLink="/about" role="banner">
      Peter Cutler
    </a>

    <ul>
      <li *ngFor="let page of pages">
        <a class="main-nav-page-link" routerLink="{{page.path}}">
          {{page.display}}
        </a>
        <div [@bounceBall]="page.state" class="selection-{{page.display}} selection-indicator"></div>
      </li>
    </ul>
  </section>

  <div class="main-nav-border main-nav-section"></div>
</nav>
