<header class="sidebar-header">
  <a class="logo" routerLink="/about">
    Peter Cutler
    <span class="logo-description">UX Researcher</span>
  </a>
  <nav class="main-nav">
    <ul class="nav-list">
      <li class="nav-item" *ngFor="let link of links" >
        <a
          class="nav-link {{link}}-link"
          href=""
          routerLink="/{{link}}">
          {{link}}
        </a>
      </li>
    </ul>
  </nav>
  <div class="contact">
    <a class="nav-link" href="mailto:petergcutler@gmail.com">Email</a>
  </div>
</header>
<main class="main-window">
  <router-outlet></router-outlet>
</main>
