<header class="sidebar-header">
  <a class="logo" href="">
    Peter Cutler
    <span class="logo-description">Usability Person</span>
  </a>
  <nav class="main-nav">
    <ul class="nav-list">
      <a
        class="nav-link {{link}}-link"
        href=""
        routerLink="/{{link}}"
        *ngFor="let link of links">
        {{link}}
      </a>
    </ul>
  </nav>
  <div class="contact">
    <a class="nav-link" href="">Email</a>
  </div>
</header>
<main class="main-window">
  <router-outlet></router-outlet>
</main>
