<nav class="main-nav">
  <section class="home">
    <a class="logo" routerLink="/about">Peter Cutler</a>
  </section>
  <section class="main-pages">
    <ul class="nav-list">
      <li class="nav-item" *ngFor="let page of pages">
        <a
          class="nav-link {{page}}-link"
          routerLink="/{{page}}"
          routerLinkActive="nav-link-active">
          {{page}}
        </a>
      </li>
    </ul>
  </section>
  <section class="nav-contact-links">
    <a target="_blank" href="mailto:petergcutler@gmail.com" class="fas fa-envelope"></a>
    <a target="_blank" href="https://twitter.com/petergcutler" class="fab fa-twitter-square"></a>
    <a target="_blank" href="https://linkedin.com/in/petergcutler/" class="fab fa-linkedin"></a>
  </section>
</nav>

<div class="mobile-border"></div>

<main class="main-window">
  <router-outlet></router-outlet>
</main>
