<article class="work-entry" role="article">

  <app-work-header>
    <p>
      Over the course of 2015, I helped lead an effort to rebrand VOX Global &mdash; a DC-based communications firm &mdash; updating the language, architecture, visual design, and web presence the company used to present itself.
    </p>
  </app-work-header>

  <section class="work-section">
    <h2 class="work-body-h2">
      Research & Discovery
    </h2>
    <p>
      From the start of 2012 to the end of 2015, I worked closely with VOX Global's creative director to manage to the brand of the agency. After many years, we knew it was time for a redesign. We spent what time we had away from clients researching and redesigning our identity.
    </p>
    <div class="work-body-image-grid">







<lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
  <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"
    data-src="https://images.unsplash.com/photo-1581894158358-5ecd2c518883?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1406&q=80"
    data-responsive="https://images.unsplash.com/photo-1581894158358-5ecd2c518883?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=480&q=80 480, https://images.unsplash.com/photo-1581894158358-5ecd2c518883?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80 800"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@entrycube' >Diego Guzmán </a></h4> <p> Location - <a href='https://unsplash.com/s/photos/fushimi-inari-taisha-shrine-senbontorii%2C-68%E7%95%AA%E5%9C%B0-fukakusa-yabunouchicho%2C-fushimi-ward%2C-kyoto%2C-japan'>Fushimi Ward, Kyoto, Japan</a></p>">
    <img class="img-responsive"
      src="https://images.unsplash.com/photo-1581894158358-5ecd2c518883?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
  </a>
  <a data-lg-size="480-480-480, 800-800-800, 1400-1400" data-pinterest-text="Shinimamiya, Osaka, Japan"
    data-tweet-text="Shinimamiya, Osaka, Japan" class="gallery-item"
    data-src="https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
    data-responsive="https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=480&q=80 480, https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80 800"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@asoshiation' >Shah </a></h4><p> Location - <a href='https://unsplash.com/s/photos/shinimamiya%2C-osaka%2C-japan'>Shinimamiya, Osaka, Japan</a></p>">
    <img class="img-responsive"
      src="https://images.unsplash.com/photo-1544550285-f813152fb2fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
  </a>
  <a data-lg-size="480-480-480, 800-800-800, 1400-1400" data-pinterest-text="Pin it3"
    data-tweet-text="share on twitter 4" class="gallery-item"
    data-src="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
    data-responsive="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=480&q=80 480, https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80 800"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@katherine_xx11' >Katherine Gu </a></h4><p> For all those years we were alone and helpless.</p>">
    <img class="img-responsive"
      src="https://images.unsplash.com/photo-1584592740039-cddf0671f3d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
  </a>
</lightgallery>






      
<!--       <app-image-viewer
        path="../assets/images/work/vox-global-brand-redesign/original-1.png"
        description="VOX Global Homepage - Before"
        [borderOn]="true">
      </app-image-viewer>
      <app-image-viewer
        path="../assets/images/work/vox-global-brand-redesign/new-1.png"
        description="VOX Global Homepage - After"
        [borderOn]="true">
      </app-image-viewer> -->
    </div>
  </section>

  <section class="work-section">
    <h3 class="work-body-h3">
      Content Audit & Competitive Analysis
    </h3>
    <p>
      I had read <a class="basic-link" target="_blank" href="https://www.contentstrategy.com/content-strategy-for-the-web">Kristina Halvorson's Content Strategy for the Web</a> in 2011 and leaned on this book as we started the project. We began by thoroughly auditing our own web content and information architecture. We also conducted a competitive analysis of other D.C. firms.
    </p>
    <p>
      Some of our key findings:
    </p>
    <ul class="work-body-list">
      <li>
        Our visual design was dated by emerging web trends &mdash; this included all of our branded content: web and print design, logo, marketing materials
      </li>
      <li>
        Our structure for publishing was convoluted; we had three different blogs with no clear distinction
      </li>
      <li>
        Our language was inconsistent, jargon-laden, and inaccessible by modern web-writing standards
      </li>
    </ul>
  </section>

  <section class="work-section">
    <h3 class="work-body-h3">
      Stakeholder Interviews & Focus Groups
    </h3>
    <p>
      Throughout the process, we established and navigated a complex, opinionated internal stakeholder review. We first created an internal review committee, including our company's CEO, COO, and many of the managing partners. This group included many brilliant strategists and writers with many conflicting opinions. We met regularly to brainstorm and collaborate around the foundational content that informed our decision-making process. We learned many lessons along the way.
    </p>
    <ul class="work-body-list">
      <li>
        Involve critical stakeholders immediately. Including our CEO in our meetings was the most important step to staying on schedule.
      </li>
      <li>
        Use scope, timeline, and approvals to ensure progress. These are the same techniques we use with our clients, but if we didn't apply them in our internal meetings, we would have endlessly revisited past discussions.
      </li>
      <li>
        Establish a tone of voice collaboratively. Our users (the company's executive leadership) trusted us to lead the visual redesign with minimal input. But when it comes to writing and tone, everyone wants their own identity to shine through. We had to ensure a lasting buy-in across our updated brand language.
      </li>
    </ul>
  </section>

  <section class="work-section">
    <h2 class="work-body-h2">
      Iterative Design
    </h2>
    <p>
      Using our meetings as a jumping off point, we began an iterative design process to update our language, visual, and web-design.
    </p>
    <h3 class="work-body-h3">
      Language & Tone
    </h3>
    <p>
      We felt that our language and tone was the foundation of our rebrand, so we began with addressing the way we spoke about ourselves.
    </p>
    <p>
      As we considered our tone, we found we had a few objectives:
    </p>
    <ul class="work-body-list">
      <li>
        Avoid jargon. Move away from <a class="basic-link" target="_blank" href="https://en.wikipedia.org/wiki/List_of_buzzwords">corporate buzzwords</a> towards <a class="basic-link" target="_blank" href="https://en.wikipedia.org/wiki/List_of_plain_English_words_and_phrases">plain English</a>. Side note: I've always loved that Wikipedia aggregates these!
      </li>
      <li>
        Show, don't tell. We wanted to minimize the extent to which we wrote about ourselves whatsoever. As a company, we could use our best case studies to describe ourselves better than any words could.
      </li>
      <li>
        Collaborating with another executive leader and my creative director, I wrote many different possible tones for our executive leadership to consider. We used these linguistic "mood boards" to select a common language and tone description.
      </li>
    </ul>
    <h3 class="work-body-h3">
      Design
    </h3>
    <p>
      With an updated language & tone in mind, we began the process of overhauling our visual design holistically. We wanted the simplicity of our tone to extend to our visual representation.
    </p>
    <p>
      You can see the updated brand live at <a class="basic-link" target="_blank" href="http://voxglobal.com/">voxglobal.com</a>.
    </p>
  </section>

</article>
