<article class="work-entry">

  <app-work-header>
    <p>
      One way that Crowdskout users can interact with their profiles is to deliver surveys and forms for a variety of circumstances. I overhauled the form system in 2015 and 2016, and added a system for conditionally branching questions to facilitate rich survey creation entirely within the Crowdskout platform.
    </p>
  </app-work-header>

  <section class="work-section">
    <h2 class="work-body-h2">
      Profile Fields Tied to Custom Questions
    </h2>
    <p>
      A Crowdskout user may use forms to ask any number of questions. These questions in turn can fuel the creating or updating of any of the hundreds of Crowdskout profile fields that exist in their database.
    </p>
    <div class="work-body-image-grid">
      <app-image-viewer
        path="../assets/images/work/crowdskout-form-editor/form-editor-1a.png"
        description="A look at the field selection and questions on a Crowdskout form"
        borderOn="true">
      </app-image-viewer>
      <app-image-viewer
        path="../assets/images/work/crowdskout-form-editor/form-editor-2a.png"
        description="Additional Crowdskout form fields"
        borderOn="true">
      </app-image-viewer>
    </div>
    <p>
      Crowdskout's form editor component is a complex, interactive module within the application. If you have any questions, I'm happy to walk through the design and code involved. Thanks for reading.
    </p>
  </section>

</article>
