<article class="era-detail-content">
  <div class="era-detail-main" [@revealListItems]="revealList">

    <div class="grid-header">
      <div class="era-detail-item header">
        From 2019-Present, I've worked at <a class="basic-link" target="_blank" href="https://trakstar.com">Trakstar</a>, recently acquired by Mitratech. This page is under construction.
      </div>
    </div>

    <div class="grid-main">
      <div class="era-detail-item"
         *ngFor="let work of filteredWorks; index as i;"
         routerLink="/work/{{work.url}}">
        <div class="era-detail-item-image-wrapper">
          <img class="era-detail-item-image"
             src="../assets/images/work/thumbnails/{{work.url}}.png"
             alt="{{work.display}}">
        </div>
        <div class="era-detail-item-title">{{work.display}}</div>
        <div class="era-detail-item-subtitle">{{work.subtitle}}</div>
      </div>
    </div>

  </div>
</article>