<article class="era-detail-content">
  <div class="era-detail-main" [@revealListItems]="revealList">

    <div class="grid-header" id="scrollTop">
      <div class="era-detail-item header">
        From 2019 to today, I've worked at <a class="basic-link" target="_blank" href="https://trakstar.com">Trakstar</a>, recently acquired by Mitratech.
      </div>
    </div>

    <!-- Yes, this is a farce. Reach out to me for a PW protected PDF of recent case studies. -->
    <form class="pw-form">
      <div class="single-field">
        <label for="password">This page is password protected</label>
        <input type="text" [(ngModel)]="inputText" placeholder="Enter password">
        <button (click)="checkPassword()" class="submit-button">Submit</button>
      </div>

      <div *ngIf="passwordFails">
        <div class="pw-fail">The password provided is incorrect</div>
      </div>
    </form>

    <div class="grid-main">
      <div class="era-detail-item"
         *ngFor="let work of filteredWorks; index as i;"
         routerLink="/work/{{work.url}}">
        <div class="era-detail-item-image-wrapper">
          <img class="era-detail-item-image"
             src="../assets/images/work/thumbnails/{{work.url}}.png"
             alt="{{work.display}}">
        </div>
        <div class="era-detail-item-title">{{work.display}}</div>
        <div class="era-detail-item-subtitle">{{work.subtitle}}</div>
      </div>
    </div>

  </div>
</article>