<div class="mosaic-create-content">

  <form
    class="mosaic-form"
    (ngSubmit)="onSubmit(); messageForm.reset()"
    #messageForm="ngForm">

    <div class="form-group">
      <label class="create-header" for="Message Type">Today at the museum I am...</label>

      <div class="radio-group">
        <label class="radio-label" *ngFor="let entry of entries; let idx = index">
          <input
            name="radiogroup"
            type="radio"
            id="{{entry.id}}"
            [checked]="(idx === 0)"
            [value]="entry.id"
            (change)="onSelectionChange(entry)">
          <span class="inner-label">{{entry.description}}</span>
        </label>
      </div>
      <!-- <div class="mosaic-radio-group" *ngFor="let entry of entries; let idx = index">
        <span class="mosaic-radio-label" >{{entry.description}}</span>
        <input
          class="mosaic-radio-input"
          type="radio"
          name="radiogroup"
          (change)="onSelectionChange(entry)"
          [checked]="(idx === 0)"
          [value]="entry.id">
      </div> -->



      <!-- <div class="center">
        <div class='radio-group'>
          <label class='radio-label'>
              <input name='snacks' type='radio' id='pizza' checked='checked'>
              <span class='inner-label'>Pizza</span>
          </label>
          <label class='radio-label'>
              <input name='snacks' type='radio' id='nachos'>
              <span class='inner-label'>Nachos</span>
          </label>
          <label class='radio-label'>
              <input name='snacks' type='radio' id='burgers'>
              <span class='inner-label'>Burgers</span>
          </label>
          <label class='radio-label'>
              <input name='snacks' type='radio' id='mayo'>
              <span class='inner-label'>Mayonnaise</span>
          </label>
        </div>
      </div> -->




    </div>

    <div class="form-group">
      <!-- <label for="Message">Message</label> -->
      <div class="your-message">
        <input
          type="textarea"
          required
          class="mosaic-textarea form-control"
          id="messageContent"
          [(ngModel)]="model.messageContent"
          name="message"
          #messageContent="ngModel">
          your message
        <!-- <div [hidden]="messageContent.valid || messageContent.pristine"
             class="alert alert-danger">
          What was your experience?
        </div> -->
      </div>
    </div>

    <div class="form-group">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!messageForm.form.valid"
        >Share your experience</button>
    </div>

  </form>

</div>
