<article class="era-detail-content">
  <div class="era-detail-main" [@revealListItems]="revealList">

    <div class="grid-header" id="scrollTop">
      <div class="era-detail-item header">
        From 2017-2019, I studied Human-Computer Interaction at the <a class="basic-link" target="_blank" href="https://www.hcde.washington.edu/">University of Washington</a>, in the department of Human-Centered Design & Engineering. I focused my studies in User Research, graduating with a Masters of Science in 2019.</div>
    </div>

    <div class="grid-main">
      <div class="era-detail-item"
         *ngFor="let work of filteredWorks; index as i;"
         routerLink="/work/{{work.url}}">
        <div class="era-detail-item-image-wrapper">
          <img class="era-detail-item-image"
             src="../assets/images/work/thumbnails/{{work.url}}.png"
             alt="{{work.display}}">
        </div>
        <div class="era-detail-item-title">{{work.display}}</div>
        <div class="era-detail-item-subtitle">{{work.subtitle}}</div>
      </div>
    </div>

  </div>
</article>