.about-main {
  display: grid;
  grid-gap: 2em;
  padding-top: 2em;

  @include respond-to('medium') {
    grid-template-columns: 2fr 3fr;
  }
}

// TODO About looks bad between 720 and 840.

.self-image {
  width: 100%;

  @include respond-to('medium') {
    max-width: 300px;
  }
}

.contact-heading {
  color: $mid-gray;
  font-family: $mini-heading-font;
  font-size: $smaller;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1.4em 0 1.4em 0;
  letter-spacing: 0.2em;
  font-weight: bold;
}

.about-contact-links {
  margin-top: 2em;

  h2 {
    display: block;

    @include respond-to($shift-nav-to-side) {
      display: none;
    }
  }

  a {
    display: inline;
    text-decoration: none;
    font-size: 1.4rem;
    padding-right: 1.2em;
    margin-top: 2em;

    @include respond-to($shift-nav-to-side) {
      display: none;
    }

    &::before {
      color: $silver;
    }

    &:hover::before {
      color: $youthful-salmon;
    }
  }
}

.bio p {
  color: $dark-gray;
  font-family: $body-font;
  font-size: $normal;
  line-height: 1.6em;
  padding-bottom: 1em;

  @include respond-to('mediumer') {
    font-size: $large;
  }
}

.about-body-link {
  text-decoration: none;
  color: $accent-red;

  &:hover {
    text-decoration: underline;
  }
}
