.about-main {
  display: grid;
  grid-gap: 2em;
  padding-top: 2em;

  @include respond-to('small') {
    grid-template-columns: 2fr 3fr;
  }
}

.self-image {
  width: 100%;

  @include respond-to('marge') {
    max-width: 300px;
  }
}

.bio p {
  color: $main-text-gray;
  font-family: $body-font;
  font-size: $normal;
  line-height: 1.6em;
  padding-bottom: 1em;

  @include respond-to('marge') {
    font-size: $large;
  }
}

.about-body-link {
  text-decoration: none;
  color: $accent-red;

  &:hover {
    text-decoration: underline;
  }
}
