.main-footer {
  padding: 0 2em;
  max-width: 90%;
  margin: 0 auto;
}


.image-attribution {
  font-size: .9em;
  color: $support-gray;
  margin-top: 1.4em;

  a {
    text-decoration: none;
    color: $accent-red;
  }
}

.scroll-to-top {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 4em;
}

.page-bottom {
  display: flex;
  align-items: center;
  height: 8em;
}

.copyright-text {
  color: $mini-heading-gray;
}

.contact-links {
  display: flex;
  margin-left: auto;

  a {
    text-decoration: none;
    padding: .6em;
    font-size: 1.3rem;

    &:last-of-type {
      padding-right: 0;
    }

    &::before {
      color: $mini-heading-gray;
      @include transition (all, 0.2s, ease-in-out);
    }

    &:hover::before {
      color: $main-text-gray;
    }
  }
}
