.button-bright {
  display: inline-block;
  padding: 1em;
  margin: 1em 0;
  border: $border-thin solid $dark-gray;
  border-radius: .2em;
  cursor: pointer;
  text-decoration: none;
  color: $dark-gray;

  &:hover {
    color: $accent-red;
    border: $border-thin solid $accent-red;
  }
}
