.button-bright {
  display: inline-block;
  padding: 1em;
  margin: 1em 0;
  border: $border-thin solid $main-text-gray;
  border-radius: .2em;
  cursor: pointer;
  text-decoration: none;
  color: $main-text-gray;

  &:hover {
    color: $accent-red;
    border: $border-thin solid $accent-red;
  }
}

.button-underline {
  display: inline-block;
  position: relative;
  padding: 2em;
  font-size: .75em;
  font-weight: bold;
  text-transform: uppercase;
  color: $support-gray;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    height: 1.5px;
    background-color: $accent-red;
    left: 2em;
    bottom: 1em;
    width: 20%;
    transition: width 0.3s ease-out;
  }

  &:hover::after {
    width: 62%;
  }
}
