// Colors
$elder-salmon: hsl(6, 78%, 57%);

// Monochrome
$white: hsl(0, 0%, 100%);
$white-smoke: hsl(0, 0%, 92%);
$wild-sand: hsl(0, 0%, 85%);
$silver: hsl(0, 0%, 78%);
$chalice: hsl(0, 0%, 71%);
$mercury: hsl(0, 0%, 64%);
$chalice: hsl(0, 0%, 57%);
$dove-gray: hsl(0, 0%, 50%);
$charcoal: hsl(0, 0%, 40%);
$mine-shaft: hsl(0, 0%, 30%);
$cool-shirt: hsl(0, 0%, 25%);
$nightrider: hsl(0, 0%, 22%);
$obsidian: hsl(0, 0%, 18%);
$nero: hsl(0, 0%, 15%);
$black: hsl(0, 0%, 0%);

// Colored Grays
// $gentle-kraken: hsl(210, 13%, 18%);
