.dashboard-content {
  @include respond-to('medium') {
    padding-top: 44vh;
  }
}

.dashboard-image {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.welcome {
  font-family: 'Garamond', serif;
  font-size: 2em;
  // font-weight: bold;
  color: white;
  text-align: center;
  // text-transform: uppercase;

  @include respond-to('medium') {
    font-size: 4em;
  }
}
