/*
Currently imported:

Open sans
Source sans
Nunito
Rubik
*/

/* Set default font and text settings */
body {
  font-family: 'Nunito', 'Arial', sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Define custom fonts */
$body-font: 'Nunito', 'Arial', sans-serif;
$heading-font: 'Georgia', serif;
$mini-heading-font: 'Rubik', 'Arial', sans-serif;

// Font size
$hugest: 2.375rem;
$huge: 2.125rem;
$prettybig: 1.75rem;
$hugeish: 1.5rem;
$largest: 1.375rem;
$larger: 1.25rem;
$large: 1.125rem;
$normalarge: 1.05rem;
$normal: 1rem;
$small: 0.875rem;
$smaller: 0.75rem;
