.subject-header {
  border-bottom: $border-thin solid $header-rule;
  line-height: 1.6em;
  margin-bottom: 2em;

  .heading {
    font-weight: bold;
    color: $big-barracuda;
  }

  .subheading {
    color: $deep-gray;
    padding-bottom: 1em;
  }
}

.main-footer {
  border-top: $border-thin solid $header-rule;
  margin-top: 2em;

  .copyright-text {
    margin-top: 1.4em;
    font-size: .9em;
    color: $medium-gray;
  }
}
