.subject-header {
  display: block;
  padding-top: 2.5em;
  padding-bottom: 1em;
  border-bottom: $border-thin solid $header-hr-gray;
  line-height: 1.6em;

  .heading {
    font-weight: bold;
    color: $main-text-gray;
  }

  .subheading {
    color: $support-gray;
  }
}

.main-footer {
  display: block;
}

.desktop-only {
  display: none;

  @include respond-to($shift-nav-to-side) {
    display: block;
  }
}

.border-footer {
  border-top: $border-thin solid $header-hr-gray;
  margin-top: 2em;
  padding-top: 1.5em;
  padding-bottom: 2.5em;

  .copyright-text {
    font-size: .9em;
    color: $support-gray;
  }
}

.image-attribution {
  font-size: .9em;
  color: $support-gray;
  margin-top: 1.4em;

  a {
    text-decoration: none;
    color: $accent-red;
  }
}

.scroll-to-top {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 4em;
}
