.work-body-image {
  max-width: 100%;
  height: auto;
  cursor: zoom-in;

  @include respond-to('medium') {
    max-width: 30em;
  }

  @include respond-to($shift-nav-to-side) {
    max-width: 100%;
  }

  @include respond-to('large') {
    max-width: 30em;
  }
}

.work-body-image-caption {
  max-width: 100%;
  height: auto;
  font-size: $small;
  line-height: 1.0625rem;
  color: $light-gray;
}

.border {
  border: 1px solid $light-gray;
}

.work-body-image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  .work-body-image {
  max-width: 90%;
  height: auto;
  }

  .work-body-image-caption {
  max-width: 90%;
  height: auto;
  }

  .gallery-info {
    display: none;

    @include respond-to('smallish') {
      display: block;
    }
  }

  .gallery-prompt {
    display: none;

    @include respond-to('largal') {
      display: inline;
    }
  }

  .spacer {
    display: none;

    @include respond-to('largal') {
      padding: 0 0.33em;
      display: inline;
    }
  }
}

.gallery-info {
  position: relative;
  top: -3em;
  right: -2em;
  margin-top: -2em;
  color: $white;
  cursor: zoom-in;

  &.black {
    color: $cool-shirt;
  }

  &.salmon {
    color: $youthful-salmon;
  }
}

.gallery-text {
  font-size: 1em;
  position: relative;
  top: -0.3em;
  right: -0.6em;
}

.gallery-prompt {
  display: none;

  @include respond-to('smallish') {
    display: inline;
  }
}

.spacer {
  display: none;

  @include respond-to('smallish') {
    padding: 0 0.33em;
    display: inline;
  }
}

.gallery-icon {
  font-size: 1.5em;
}

.arrow-off {
  display: none;
}
