app-image-viewer {
  @include respond-to('marge') {
    max-width: 30em;
  }
}

.work-body-image {
  max-width: 100%;
  height: auto;
  cursor: zoom-in;

  @include respond-to('marge') {
    max-width: 30em;
  }
}

.work-body-image-caption {
  max-width: 100%;
  height: auto;
  font-size: $small;
  line-height: 1.0625rem;
  color: $support-gray;
}

.border {
  border: 1px solid $support-gray;
}

.work-body-image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  .work-body-image {
  max-width: 90%;
  height: auto;
  }

  .work-body-image-caption {
  max-width: 90%;
  height: auto;
  }

  .gallery-text {
    display: none;

    @include respond-to('tiny') {
      display: inline;
    }

  }

  .gallery-info {
    max-width: 10em;
    top: -3em;
    right: -1em;

    @include respond-to('smaller') {
      right: -2em;
      max-width: 15em;
    }
  }

  .gallery-prompt {
    display: none;

    @include respond-to('large') {
      display: inline;
    }
  }

  .spacer {
    display: none;

    @include respond-to('large') {
      padding: 0 0.33em;
      display: inline;
    }
  }
}

.gallery-present {
  margin-top: -2em;
}

.gallery-info {
  display: inline-block;
  position: relative;
  top: -4em;
  right: -2em;
  max-width: 20em;
  margin-top: -2em;
  color: $white;
  cursor: zoom-in;

  &.black {
    color: $support-gray;
  }

  &.salmon {
    color: $accent-light-red;
  }
}

.gallery-text {
  font-size: 1em;
  position: relative;
  top: -0.3em;
  right: -0.6em;
}

.gallery-prompt {
  display: none;

  @include respond-to('smaller') {
    display: inline;
  }
}

.spacer {
  display: none;

  @include respond-to('smaller') {
    padding: 0 0.33em;
    display: inline;
  }
}

.gallery-icon {
  font-size: 1.5em;
}

.arrow-off {
  display: none;
}
