.basic-link {
  text-decoration: underline;
  @include transition (color, 0.3s, ease)

  &:link {
    color: $accent-red;
  }

  &:hover {
    color: desaturate($accent-red, 80% );
  }

  &:active {
    border: 1px solid desaturate($accent-red, 50% );;
  }

  &:visited {
    color: desaturate($accent-red, 40% );
  }
}
