.basic-link {
  @include transition (color, 0.3s, ease);
  text-decoration: none;

  &:link {
    color: $accent-red;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    border: desaturate($accent-red, 80% );
  }

  &:visited {
    color: $accent-red;
  }
}
