.mosaic-display-content {
  width: 100%;
  font-size: 1em;
  background-color: #222;
  font-family: 'Share Tech Mono', monospace;
  color: #F3E393;
}

.mosaic-messages {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 12em;
  padding-top: 3em;
  grid-row-gap: .4em;
  margin-left: 4em;
  margin-right: 4em;
}

.mosaic-message {
  padding-bottom: 2em;
}

.mosaic-icon {
  display: none;
  position: relative;
  top: 20px;
  width: 60px;
  height: 60px;
}

.mosaic-text {
  padding-top: 1em;
}

.mosaic-message-type-display {
  font-size: 1em;
  text-transform: uppercase;
}

.mosaic-message-content {
  font-size: 2em;
  line-height: 1.1em;
}

.thinking {
  color: #C061A9;
}

.feeling {
  color: #34C034;
}

.seeing {
  color: #7897CA;
}
