@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mosaic-display-content {
  width: 100%;
  font-size: 1em;
  background-color: #222;
  font-family: 'Share Tech Mono', monospace;
  color: #F3E393;
}

.mosaic-messages {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 12em;
  // position: relative;
  padding-top: 3em;
  grid-row-gap: .4em;
  margin-left: 4em;
  margin-right: 4em;
}

.mosaic-message {
  // margin: 0 auto;
  padding-bottom: 2em;
  opacity: 0;

  -webkit-animation: fadeIn 400ms cubic-bezier(0.6, 0.2, 0.1, 1) 800ms forwards;
  animation: fadeIn 400ms cubic-bezier(0.6, 0.2, 0.1, 1) 800ms forwards;
}

.mosaic-icon {
  // display: inline-block;
  display: none;
  position: relative;
  top: 20px;
  // margin: 0 auto;
  width: 60px;
  height: 60px;
}

.mosaic-text {
  padding-top: 1em;
}

.mosaic-message-type-display {
  font-size: 1em;
  text-transform: uppercase;
}

.mosaic-message-content {
  font-size: 2em;
}



.thinking {
  background: url('/assets/icons/mosaic/thinking.svg');
}

.feeling {
  background: url('/assets/icons/mosaic/feeling.svg');
}

.seeing {
  background: url('/assets/icons/mosaic/seeing.svg');
}

.other {
  background: url('/assets/icons/mosaic/other.svg');
}
