$shift-nav-to-side: 'mediumer';

.main-window {
  @include respond-to($shift-nav-to-side) {
    padding-left: 15em;
  }
}

.about-content,
.work-content,
.work-details,
.writing-content {
  padding: 2.5em 2em;
  max-width: 56em;
  margin: 0 auto;

  @include respond-to($shift-nav-to-side) {
    padding: 2.5em 3.5em;
  }
}

.sidebar-header {
  display: block;
  padding-top: 2.2em;
  padding-left: 1.2em;
  height: 8em;

  @include respond-to($shift-nav-to-side) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100%;
    width: 15em;
    padding: 2.5em;
  }
}

.nav-list {
  display: inline-block;

  @include respond-to($shift-nav-to-side) {
    display: block;
  }
}

.logo {
  display: inline-block;
  color: $logo;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 1.8rem;
  margin-bottom: .6em;

  @include respond-to($shift-nav-to-side) {
    font-size: 1.4rem;
    display: block;
  }
}

.nav-item {
  display: inline;
  padding-right: 2em;

  @include respond-to($shift-nav-to-side) {
    display: block;
    padding-right: 0;
    padding-bottom: 1.2em;
  }
}

.nav-link {
  display: inline;
  color: $nav-link;
  text-decoration: none;
  text-transform: capitalize;

  &:hover {
    border-bottom: $border-medium solid $nav-link-hover;
  }
}

.nav-link-active {
  border-bottom: $border-medium solid $nav-link-hover;
}

// "Email" link only shows above medium
.contact a {
  display: none;

  @include respond-to($shift-nav-to-side) {
    display: inline;
  }
}
