.main-window {
  @include respond-to($shift-nav-to-side) {
    padding-left: 12em;
  }
}

.about-content,
.work-content,
.work-frame {
  padding: 0 2em;
  max-width: 57em;
  margin: 0 auto;

  @include respond-to($shift-nav-to-side) {
    padding: 0 3.5em;
  }
}

.main-nav {
  display: block;
  padding: 2em;

  // height: 8em;

  @include respond-to($shift-nav-to-side) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100%;
    padding: 2.5em;
  }
}

.mobile-border {
  display: block;
  margin-left: 2em;
  margin-right: 2em;
  border-bottom: $border-thin solid $header-hr-gray;

  @include respond-to($shift-nav-to-side) {
    display: none;
  }
}

.nav-list {
  display: inline-block;

  @include respond-to($shift-nav-to-side) {
    display: block;
  }
}

.logo {
  display: inline-block;
  color: $main-text-gray;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 1.8rem;
  margin-bottom: .6em;

  @include respond-to($shift-nav-to-side) {
    font-size: 1.4rem;
    display: block;
  }
}

.nav-item {
  display: inline;
  padding-right: 2em;

  @include respond-to($shift-nav-to-side) {
    display: block;
    padding-right: 0;
    padding-bottom: 1.2em;
  }
}

.nav-link {
  display: inline;
  color: $main-text-gray;
  text-decoration: none;
  text-transform: capitalize;

  &:hover {
    border-bottom: $border-medium solid $main-text-gray;
  }
}

.nav-link-active {
  border-bottom: $border-medium solid $main-text-gray;
}

.nav-contact-links a {
  display: none;
  text-decoration: none;
  font-size: 1.3rem;

  @include respond-to($shift-nav-to-side) {
    display: inline;
    padding: .6em;

    &:first-child {
      padding-left: 0;
    }
  }

  &::before {
    color: $mini-heading-gray;

    @include transition (all, 0.2s, ease-in-out)
  }

  &:hover::before {
    color: $main-text-gray;
  }
}
