.sidebar-header {
  display: block;
  background-color: $nav;
  color: #fff;
  padding-top: 2.2em;
  padding-left: 1.2em;
  height: 8em;

  @include respond-to('medium') {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100%;
    width: 15em;
    padding: 2.5em;
  }
}

.logo {
  display: block;
  color: $nav-link;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 1.8rem;
  margin-bottom: .6em;
}

.logo-description {
  display: none;

  @include respond-to('medium') {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: $logo-description;
  }
}

.nav-list {
  display: inline-block;

  @include respond-to('medium') {
    display: block;
  }
}

.nav-item {
  display: inline;
  padding-right: 2em;

  @include respond-to('medium') {
    display: block;
    padding-right: 0;
    padding-bottom: 1.2em;
  }
}

.nav-link {
  display: inline;
  color: $nav-link;
  text-decoration: none;
  text-transform: capitalize;

  &:hover {
    border-bottom: $border-medium solid $nav-link-hover;
  }
}

.nav-link-active {
  border-bottom: $border-medium solid $nav-link-hover;
}

// cv -> CV
.cv-link {
  text-transform: uppercase;
}

// "Email" link only shows above medium
.contact a {
  display: none;

  @include respond-to('medium') {
    display: inline;
  }
}
