.main-nav {
  display: flex;
  align-items: center;
  height: 5em;

  // main-nav bottom border
  &::after {
    content: '';
    position: absolute;
    top: 5em;
    left: 0em;
    width: 100%;
    height: 1px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  }
}

.main-nav > ul {
  display: flex;
  margin-left: auto;

  li:last-of-type {
    a {
      padding-right: 0;
    }
  }
}

.main-nav-item {
  padding: 1em;
}

.main-nav-logo {
  color: $main-text-gray;
  font-size: 1.2rem;
  text-decoration: none;
  padding-left: 0;
}

.main-nav-page-link {
  color: $main-text-gray;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  @include transition (all, 0.2s, ease-in-out)

  &:hover {
    color: $accent-light-red;
  }

  @media (hover:none),(hover:on-demand) {
    // suppress hover effect on devices that don't support hover fully
    &:hover {
      color: $main-text-gray;
    }
  }
}

.selection-indicator {
  position: relative;
  height: 4px;
  width: 4px;
  background-color: $accent-light-red;
  border-radius: 100%;
  top: 0.3em;
  left: 50%;
  transform: translateX(50%);
}
