// Borders
$border-thin: 1px;

// Site widths
$full-width: 54em;
$half-width: 30em;

// Media Queries
$breakpoints: (
  'tiny': (min-width: 360px),
  'smaller': (min-width: 420px),
  'small': (min-width: 500px),
  'medium': (min-width: 600px),
  'marge': (min-width: 640px),
  'large': (min-width: 840px),
  'huge': (min-width: 1000px),
  'hugest': (min-width: 1280px),
  'humongous': (min-width: 1600px)
);
