.work-frame {
  margin: 0 auto;

  @include respond-to('large') {
    max-width: 57em;
    margin: 0 auto;
  }
}

.subheading {
  margin-top: .4em;
}

.go-back {
  display: inline;
  color: $light-gray;
  cursor: pointer;

  &:hover {
    color: $accent-red;
  }
}

.back-text {
  text-decoration: none;
  border-bottom: $border-thin solid;
}

.arrow-left-solid {
  &::before {
    content: '\25C4';
    font-size: .8em;
    position: relative;
    top: -0.1em;
    padding-right: 0.3em;
  }
}



// .arrow-left-stroke {
//   &::before {
//     content: '\25C5';
//     font-size: 1.8em;
//     position: relative;
//     top: 0.15em;
//     padding-right: 0.3em;
//   }
// }
