.work-header {
  border-bottom: $border-thin solid $lightest-gray;
  padding-bottom: 4em;
  padding-top: 1em;

  @include respond-to($shift-nav-to-side) {
    padding-top: 3em;
  }
}

.work-titling {
  display: grid;
  justify-content: space-between;
  grid-template-rows: 3fr 1fr auto;

  @include respond-to('larger') {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: unset;
  }
}

.work-title {
  position: relative;
  width: 6.6em;
  font-size: $hugest;
  font-family: $heading-font;
  font-weight: bold;
  line-height: 1.4em;
}

.work-title-border {
  position: relative;
  align-self: center;

  &::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: $accent-red;
  }

  @include respond-to('larger') {
    max-width: 1em;
    align-self: unset;
    justify-self: center;

    &::before {
      content: none;
    }

    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: $accent-red;
    }
  }
}

.work-subtitle {
  position: relative;
  align-self: center;
  font-family: $heading-font;
  color: $dark-gray;
  font-size: $larger;
  line-height: 1.6em;
  max-width: 26em;

  @include respond-to('larger') {
    margin-top: 0;
    font-size: $largest;
  }
}

.work-tag-header {
  color: $mid-gray;
  font-family: $mini-heading-font;
  font-size: $smaller;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2em;
  letter-spacing: 0.2em;
  line-height: 1.6em;

  @include respond-to('larger') {
    margin-top: 3em;
  }
}

.work-tags {
  color: $light-gray;
  font-family: $body-font;
  text-transform: capitalize;
  line-height: 1.4em;
  margin-bottom: 2em;

  @include respond-to('larger') {
    margin-bottom: 3em;
  }
}

.work-description {
  position: relative;
  font-family: $body-font;
  font-size: $large;
  color: $dark-gray;
  line-height: 1.6em;

  p {
    max-width: 40em;
  }

  p + p {
    margin-top: 1.2em;
  }
}
