.work-content {
  max-width: 30em;
  margin: 0 auto;

  @include respond-to('large') {
    max-width: 57em;
    margin: 0 auto;
  }
}

.work-main {
  display: grid;
  position: relative;
  grid-row-gap: 1em;

  @include respond-to('large') {
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }
}

.work-item-title {
  position: absolute;
  line-height: 1.6em;
  padding-top: 1em;
  padding-left: 1em;
}

.work-item-image {
  max-width: 100%;
  visibility: hidden; // hide cover img, but retain sizing
}

.work-item {
  position: relative;
  max-width: 30em;
  max-height: 20em;
  color: $white;
  background-size: cover;
  border-bottom: 0;
  transition: border-bottom .3s ease-out;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      135deg,
      #000000 0%,
      #494949 100%
    );
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
  }

  &:hover:before{
    opacity: 0.6;
  }

  @include respond-to('large') {
    max-width: 24em;
    max-height: 16em;
  }

  // IMPORTANT! Class name AND path name are sensitive
  &.uw-secure-storage {
    background-image: url('/assets/images/work/thumbnails/uw-secure-storage.png');
  }

  &.uw-oculus-onboarding {
    background-image: url('/assets/images/work/thumbnails/uw-oculus-onboarding.png');
  }

  &.uw-complex-systems {
    background-image: url('/assets/images/work/thumbnails/uw-complex-systems.png');
  }

  &.uw-yarn {
    background-image: url('/assets/images/work/thumbnails/uw-yarn.png');
  }

  &.crowdskout-data-viz {
    background-image: url('/assets/images/work/thumbnails/crowdskout-data-viz.png');
  }

  &.crowdskout-datetime {
    background-image: url('/assets/images/work/thumbnails/crowdskout-datetime.png');
  }

  &.crowdskout-segmenting {
    background-image: url('/assets/images/work/thumbnails/crowdskout-segmenting.png');
  }

  &.crowdskout-form-editor {
    background-image: url('/assets/images/work/thumbnails/crowdskout-form-editor.png');
  }

  &.vox-global-brand-redesign {
    background-image: url('/assets/images/work/thumbnails/vox-global-brand-redesign.png');
  }

  &.vox-global-motion-design {
    background-image: url('/assets/images/work/thumbnails/vox-global-motion-design.png');
  }

  &.vox-global-att-csr {
    background-image: url('/assets/images/work/thumbnails/vox-global-att-csr.png');
  }
}
