.work-section {
  font-family: $body-font;
  font-size: $normalarge;
  color: $main-text-gray;
  line-height: 1.6em;
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: $border-thin solid $header-hr-gray;

  h2 {
    // No margin-top needed, h2 is never after other elements w/in a section
    margin-bottom: 3em;
    line-height: 1.5em;
  }

  h3 {
    margin-top: 2em;
    margin-bottom: 1.2em;
    line-height: 1.5em;

    &:nth-child(1) {
      margin-top: 0em;
    }
  }


  p, .work-video-embed, ul {
    margin-bottom: 1.2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  app-image-viewer,
  .work-body-figure,
  .work-body-image-grid {
    margin-bottom: 2.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Handle margin-bottom differently when a grid
  .work-body-image-grid>app-image-viewer {
    margin-bottom: 0;
  }

  app-image-viewer {
    display: block;
  }

  // the last section kills the border pattern
  &:last-child {
    border-bottom: 0;
    padding-bottom: 2em;
  }

  @include respond-to('marge') {
    max-width: $full-width;
    font-size: $large;
  }
}

.work-body-h2 {
  display: inline-block;
  position: relative;
  font-family: $heading-font;
  font-size: $prettybig;
  font-weight: normal;
  color: $main-header-black;

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: $accent-red;
    left: 0;
    bottom: -1.4em;
    width: 20%;
  }
}

.work-body-h3 {
  display: inline-block;
  position: relative;
  font-family: $heading-font;
  font-size: $large;
  font-weight: bold;
  color: $main-header-black;
  // Mobile underline via text-decoration
  text-decoration: underline;
  text-decoration-color: $accent-red;

  @include respond-to('marge') {
    border-bottom: 1px solid $accent-red;
    text-decoration: none;
  }
}

.border {
  border: 1px solid $support-gray;
}

.bold {
  font-weight: 600;
}

.work-body-link {
  text-decoration: none;
  color: $accent-red;

  &:hover {
    text-decoration: underline;
  }
}

.work-body-list {
  list-style-type: circle;
  list-style-position: outside;
  padding-left: 3.4em;

  li + li {
    margin-top: .6em;
  }
}

// Wrapping YouTube videos in a responsive div (NA for Vimeo)
.work-body-youtube-video {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.work-body-youtube-video iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
