.work-content {
  max-width: 28em;
  margin: 0 auto;

  @include respond-to('large') {
    max-width: 60em;
    margin: 0 auto;
  }
}

.work-main {
  display: grid;
  position: relative;
  grid-row-gap: 1em;

  @include respond-to('large') {
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }
}

.work-item {
  max-width: 30em;
  max-height: 20em;
  color: $white;
  cursor: pointer;
  &:hover {
    @include box-shadow(3);
  }
}

.work-item-title {
  display: block;
  position: absolute;
  padding-top: 1em;
  padding-left: 1em;
}

.work-item-image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
