$br-titling-mid: 'smaller';
$br-titling-full: 'large';

.work-header {
  border-bottom: $border-thin solid $header-hr-gray;
  padding-bottom: 4em;
  padding-top: 3em;
}

.work-titling {
  display: grid;
  grid-template-rows: auto 4em auto;
  margin-top: 2em; // 3
  margin-bottom: 5em;  // 8
  margin-left: auto;
  margin-right: auto;

  @include respond-to($br-titling-mid) {
    padding: 0 10%;
  }

  @include respond-to($br-titling-full) {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: unset;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 5em;
  }
}

.work-title {
  text-align: center;
  font-size: $hugest;
  font-family: $heading-font;
  font-weight: 'normal';
  line-height: 1.4em;

  @include respond-to($br-titling-full) {
    text-align: left;
    width: 6.6em;
  }
}

.work-title-border {
  position: relative;
  align-self: center;
  width: 20%;
  height: 1px;
  background-color: $accent-red;
  left: 33%;
  transform: translateX(33%);

  // @include transition (all, 0.4s, ease-in-out);

  @include respond-to($br-titling-full) {
    max-width: 1em;
    align-self: unset;
    justify-self: center;
    margin-top: 0;
    margin-bottom: 0;
    width: 1px;
    height: 100%;
    left: unset;
    transform: unset;
  }
}

.work-subtitle {
  align-self: center;
  font-family: $heading-font;
  font-size: $larger;
  line-height: 1.6em;
  text-align: center;

  @include respond-to($br-titling-full) {
    text-align: left;
    margin-top: 0;
    font-size: $largest;
  }
}

// Used for tags grid
.work-header-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 1em;

  // border-bottom: $border-thin solid $header-hr-gray;
  // border-top: $border-thin solid $header-hr-gray;

  @include respond-to('marge') {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
  }
}

.work-tag-header {
  color: $mini-heading-gray;
  font-family: $mini-heading-font;
  font-size: $smaller;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2em;
  letter-spacing: 0.2em;
  line-height: 1.6em;

  @include respond-to($br-titling-full) {
    margin-top: 3em;
  }
}

.work-tags {
  color: $support-gray;
  font-family: $body-font;
  text-transform: capitalize;
  line-height: 1.4em;
  margin-bottom: 2em;

  @include respond-to($br-titling-full) {
    margin-bottom: 3em;
  }
}

.work-description {
  font-size: $large;
  line-height: 1.6em;

  p {
    max-width: $full-width;
  }

  p + p {
    margin-top: 1.2em;
  }
}
