.articles-intro {
  font-weight: bold;
  color: $medium-gray;
  text-transform: capitalize;
  margin-bottom: 1em;
}

.spotlight-articles {
  margin-bottom: 1em;
}

.article-list {
  line-height: 2.4em;
}

.article-link {
  text-decoration: none;
  color: $deep-gray;
  border-bottom: $border-thin solid $big-barracuda;

  &:hover {
    color: $elder-salmon;
    border-color: $elder-salmon;
  }
}
