.articles-intro {
  font-weight: bold;
  color: $light-gray;
  text-transform: capitalize;
  margin-bottom: 1em;
}

.spotlight-articles {
  margin-bottom: 1em;
}

.article-list {
  line-height: 2.4em;
}

.article-link {
  text-decoration: none;
  color: $dark-gray;
  border-bottom: $border-thin solid $accent-red;

  &:hover {
    color: $accent-red;
    border-color: $accent-red;
  }
}
